[2013-11-27 23:01] lightonflux opened #2 "reduced feed list: feed disappears to early [1.10.3]"
I use 1.10.3 on Debian Testing and sync with ttrss.

I use the view where liferea hides feeds with no unread items.

Now, when only one unread item is left and you click it so you can read it… well then liferea immediately hides the feed.

Liferea should wait and hide the feed when the user leaves the feed, so the user has a chance to read the last (unread) item.

[2013-12-01 15:55] ghost opened #3 "Don't restore MAINWINDOW_HIDDEN on startup"
For a while now, I've been experiencing what I thought was a bug, that is, whenever I would start Liferea after a fresh log in, its window would never show up and I would have to "start it again" (I use the GNOME shell, so that means clicking on the icon in my dock).

This morning, I decided I'd tackle this problem and I realize that this isn't really a bug, but that it's only due to two things:
1

[2013-12-03 09:48] kwm81 opened #4 "return value for non-void functions in src/fl_sources/json_api_mapper.c"
Non-void functions should return a value.

gmake[3]: Entering directory `net/liferea/work/liferea-1.10.3/src/fl_sources'
  CC     libliflsources_a-json_api_mapper.o
json_api_mapper.c:59:3: error: non-void function 'json_api_get_string' should
      return a value [-Wreturn-type]
                return;
                ^
json_api_mapper.c:77:3: error: non-void function 'json_api_get_int' should

[2013-12-14 21:05] #4 closed, assigned to nobody

[2014-02-14 17:56] lightonflux opened #8 "Support wallabag"
Hello,

it would be great if Liferea would support "wallabag" under "Web Integration". So one can share / bookmark an article with wallabag.

Wallabag was called poche before and is a read it later like server. Open source and you can host it yourself.

Homepage: http://www.wallabag.org/

Github: https://github.com/wallabag/wallabag/

[2014-02-24 20:42] #2 closed, assigned to nobody

[2014-03-13 19:58] EverEve opened #9 "Upper right panel in normal view is always at minimum size when opening liferea"
The problem has been reported as bug in Debian

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=725896

I can confirm this in the last version (now 1.10.6) compiled from source in Debian Testing: when running the program as a normal user the upper right panel area is at its minimum possible size. When enlarged, the new size is not saved upon closing.
When launching the program as root the proble

[2014-03-19 18:06] tristan-k opened #10 "Support shaarli or/and unmark"
There are two promising social bookmarking web apps which would fit perfectly into the web-integration bookmark section of liferea. Please consider supporting them.

https://github.com/sebsauvage/Shaarli
https://github.com/plainmade/unmark

[2014-03-19 18:11] tristan-k opened #11 "tt-rss sync broken?"
I'm using Liferea 1.8.8 with Ubuntu 12.04 LTS. I tried to sync with the lastest Tiny Tiny RSS version on my webspace, but Liferea never syncs any articles. It just keeps staying at "Refreshing Tiny Tiny RSS". Any logfiles I can provide?

[2014-03-19 18:16] tristan-k opened #12 "support fever api"
Please add support for the fever api. Fever is a promising RSS Feed Reader which also provides a fever api plugin for Tiny Tiny RSS.

http://www.feedafever.com/api

[2014-03-23 19:40] sjkelly opened #13 "Parsing errors not visible with dark themes"
First, thank you for maintaining Liferea! It is a very nice program for RSS feeds.
I am using Liferea 1.10.3 from Debian.

I have encountered a minor issue when using dark GTK themes. In particular I am using a dark theme with white text.

Upon receiving a bad feed (ex. julialang.org/blog) the error box uses white text on a yellow background. I assume the white text is pulled from the theme. This

[2014-03-24 15:35] Majki opened #14 ""Mark everything read" button on toolbar"
Can we get button that will mark all feeds in every folder and those which are in "root" (not in any folder)? Currently we have only "mark selected as read".

[2014-03-29 05:55] #13 closed, assigned to nobody

[2014-04-02 14:12] Profpatsch opened #15 "Deleting feed, “delete” should be marked"
It’s a minor thing, but still a nuisance that `Cancel` is active by default. This way I have to confirm _twice_.

[2014-04-02 14:14] Profpatsch opened #16 "No quick way to change name of feed"
I have to right click and then click on Properties, then mark the field, then type in the new name and close the window.

I’d expect F2 to work.

[2014-04-02 14:15] Profpatsch opened #17 "Columns can’t be exchanged"
I’d like to move `Headlines` before `Date`, but it isn’t possible.

[2014-04-02 15:28] #15 closed, assigned to nobody

[2014-04-02 15:29] #17 closed, assigned to nobody

[2014-04-02 15:31] #16 closed, assigned to nobody

[2014-04-02 15:32] #12 closed, assigned to nobody

[2014-04-02 15:32] #8 closed, assigned to nobody

[2014-04-02 15:32] #10 closed, assigned to nobody

[2014-04-08 12:14] jancborchardt opened #18 "Sync with ownCloud"
Hey @lwindolf :)

It would be cool if Liferea would support sync with [ownCloud](http://owncloud.org) next to The Old Reader and Tiny-Tiny-RSS.

ownCloud has a News app: http://apps.owncloud.com/content/show.php?content=158434
And that News app has an API: https://github.com/owncloud/news/wiki/API-1.2

There’s already great sync clients for Android and iOS, so now it would be cool to have one for

[2014-04-11 21:06] kwm81 opened #19 "non void function should return value."
json_api_mapper.c:58:3: error: non-void function 'json_api_get_string' should return a value
      [-Wreturn-type]
                return;
                ^
json_api_mapper.c:77:3: error: non-void function 'json_api_get_int' should return a value [-Wreturn-type]
                return;
                ^
json_api_mapper.c:96:3: error: non-void function 'json_api_get_bool' should return a value [-Wr

[2014-04-13 20:51] #19 closed, assigned to lwindolf

[2014-04-18 14:46] ypid opened #20 "Offline mode ignored by liferea_htmlview"
Steps to reproduce:
1. Add Feed with pictures to Liferea. (like http://heise.de)
2. Set Liferea to offline mode.
3. Select item in feed. Pictures are still downloaded. Even the browser in Liferea does open the website.

(Tested with current git checkout 5dc89811673b1afd2c2d0394c8240ca7ff73e481 but I did notices this behavior with older versions as well.)

[2014-04-21 18:06] #11 closed, assigned to lwindolf

[2014-04-21 18:08] #20 closed, assigned to nobody

[2014-04-21 18:54] #9 closed, assigned to nobody

[2014-04-21 18:55] #18 closed, assigned to nobody

[2014-04-21 18:57] #3 closed, assigned to lwindolf

[2014-04-24 07:39] simontunnat opened #21 "No notifications for Tiny Tiny RSS feeds"
With Lifera 1.10.9 no notifications are shown for new feed entries that are obtained from a TTRSS installation. I didn't have the time to test earlier versions jet.

If I subscribe to those feeds directly, without using TTRSS, the notifications are generated as intended.

I hope this is a bug and not a missing feature. :)

Update:
The tray icon always indicates the correct amount.

[2014-05-06 02:16] mkasu opened #22 "User folders when syncing with The Old Reader"
For me, the import/sync to The Old Reader doesn't work correctly. It ignores subfolders and shows all my feeds in the root node.

I'm using Liferea 1.10.9.

[2014-05-07 15:49] jEsuSdA opened #23 "Liferea 1.10 does not open articles in external browser properly"
I have changed the key shorcut for open in external browser to "K":

(gtk_accel_path "<Actions>/ItemActions/LaunchItemInExternalBrowser" "k")

But when I press <k> key, or clic on ARTICLE > OPEN IN EXTERNAL BROWSER (from the menu), or liferea opens the article in the INTERNAL BROWSER.

If I press <space bar> or I clic on OPEN IN EXTERNAL BROWSER (clicking mouse secundary button over the article),

[2014-05-08 18:00] burningTyger opened #24 "Mark as read button"
First of all thanks for switching to GitHub. Great improvement.

Coming from OS X I've used Vienna and it had that mark as read button that hopped after clicking to the next subscription. So it was relatively easy to click through multiple feeds with speed. In Liferea I have to mark as read, click the next button and then mark as read again. It would be totally cool to enable "fast hopping" in Lif

[2014-05-09 09:05] lofidevops opened #25 "Liferea no longer appears in Messaging Menu (Ubuntu 14.04)"
I previously used the Ubuntu Handbook PPA version of Liferea on Ubuntu 13.10. When I started Liferea, it would appear in the Messaging Menu (the same indicator as Empathy, Pidgin et al). After upgrading to 14.04, it no longer appears in the Messaging Menu.

(Tested with main repo version, and Ubuntu Handbook PPA version.)

[2014-05-14 04:12] yaronf opened #26 "RTL comments appear incorrectly"
While feeds and items have a correct `dir` attribute, comments still do not. So all the Hebrew comments for Hebrew articles are currently flush left.

The fix is simple (sorry for not providing  proper patch):

In `xslt/item.xml.in`, line 394:

[code]

Thanks!

[2014-05-14 15:02] #26 closed, assigned to lwindolf

[2014-05-24 16:49] nekohayo opened #27 "Images do not autosize to fit the available space"
It would be awesome if Liferea's webkit views could automatically size down images that are too large to fit the width (kinda like the "max-width:100%;"  css property).

This is the only reason why I'm still unable to use the "large mode" preview pane after all these years (or have to keep fiddling/readjusting its width depending on the contents of individual posts on planets).

Arguably, with wid

[2014-05-24 17:15] nekohayo opened #28 "Multiline feed titles in wide/large view mode"
This is something I've been thinking about, and it seems someone else reported the same issue in the old bug tracker: http://sourceforge.net/p/liferea/bugs/1068/

Basically, in "wide mode", on laptops the "Title" column is usually cut off too short (in my case: after 4 words, on average) because the date/timestamp column takes roughly 30% of the available listview width (in French, on my laptop sc

[2014-05-24 17:28] nekohayo opened #29 "Do not use bold text for feeds/folders with unread items in the leftmost treeview"
I just realized something... the use of bold type for "unread items" in the feed list on the left is redundant:
- We already have very nice indicators/"counters" hinting at the exact amount of unread items for each feed/folder
- The bold type takes up more space, allowing less words to fit in and creating many unnecessary ellipses in my case
- It's visually overloading; in most cases, people will

[2014-05-25 16:42] vakuum opened #30 "Segmentation fault after updating Liferea from 1.8.8 to 1.10.9"
I updated Liferea from 1.8.8 to 1.10.9 and now I get a segmentation fault during start up:

[code]

The backtrace from the core file:

[code]

Start up works fine after adding a NULL pointer check to line 1590 in src/db.c:

[code]

[2014-06-01 12:31] Mno-hime opened #32 "Prevent erroneous "Mark all as read""
I have a search folder for all unread items and the other day I erroneously marked it as read (hit Ctrl-R instead of Ctrl-U).. I'd lost the list if not having a yesterday's backup of Liferea's DB.

Can it be prevented in some way? Undo function would be nice but some non-intrusive confirmation dialogue would work for me as well.

[2014-06-11 07:12] Adrixan opened #34 "TinyTinyRSS Enclosure Support"
TinyTinyRSS has added support for Podcast enclosures to the JSON API, which should be reflected in Liferea.

A sample output of the 'getArticle' JSON API call for the All About Android Podcast (http://twit.tv/aaa ):

{"seq":0,"status":0,"content":[{"id":"63966","title":"AAA 146: It's a
Metaphor","link":"http:
\/\/dts.podtrac.com\/redirect.mp4\/twit.cachefly.net\/video\/aaa\/aaa0146\/aaa0146_h264b_

[2014-06-11 14:50] jochenberger opened #35 "Ability to filter by source"
I have multiple subscriptions, some of them added directly, some contained in a tt-rss source. I'd like to create two filters, one that shows me the unread items from from the direct subscriptions and one that shows me the unread items from the tt-rss source.
One way to accomplish that would be a filter criterion that filters on the source (with an option to select something like "No source")

[2014-06-19 03:44] nekohayo opened #36 "UI can lock up (freeze) during refresh operations - not fully asynchronous"
It happens quite often than when I click a folder or feed, while Liferea is refreshing, the click is completely ignored. I wait a couple seconds, realize it has been ignored, click again and it works.

That alone sounds a bit tricky to debug, but there's an easier way: trigger a global refresh and use the mousewheel to quickly and repeatedly scroll up/down in the listview widget of a feed's items.

[2014-06-27 04:08] excitablesnowball opened #37 "Item repeatedly gets displayed as new if there are two items at the feed cache cutoff"
In my preferences, I have the "Default number of items per feed to save" set to 100. In [one of my subscriptions](https://gist.github.com/excitablesnowball/9f64bc41e11ed0780e42), there are two items posted exactly at "Thu, 25 Nov 2010 00:00:00 UT". They happen to be the 98th and 99th items in the feed.

If I update the feed, one of them shows up as new. If I then close Liferea, reopen Liferea, and

[2014-06-27 08:35] jekhor opened #38 "Liferea process HTTP redirect code 307 incorrectly"
When my internet provider returns HTTP redirect 307 as answer to any request (there are no money at account, redirection to billing page), then Liferea automatically updates all feed URLs to feed of internet provider.

HTTP code 307 'Temporary Redirect' is temporary issue and must not cause feed URL updating.

[2014-06-27 10:08] #37 closed, assigned to lwindolf

[2014-06-29 09:34] Sidicas opened #39 "Missing files in some source packages?"
I noticed that the .tar.bz2 release is missing some files that the .tar.gz and .zip releases have..

autogen.sh,
doc/html/help_subscribe_adv_1.6.0.png,
src/parsers/ocs_ns.h.

Is there a reason for this?  I remember the 1.10.7 packaging dropping a po/Makefile.in.in which wasn't a big deal since you could generate that file with autogen.sh.

Are these files being dropped from the release because the

[2014-06-29 09:43] paulgevers opened #40 "[minor] desktop file contains non-registered category"
lintian (a Debian package quality checking tool) reports that the "feed" category does not exist in the specification. I suggest to replace feed by news. You may even argue that also WebBrowser would make sense.

liferea: desktop-entry-invalid-category Feed usr/share/applications/liferea.desktop

   This desktop entry lists a category that is not one of the registered
   Main or Additional Categor

[2014-06-29 09:51] Sidicas opened #41 "New Subscription button grey'd out."
Step 1: Set up a "News Source" such as TTRSS. Import your feeds.

Note: When you click on a TTRSS feed, your "New Subscription", "New Folder", "New Source", etc. is all grey'd out.

Step 2: Delete your "unread" and "important" folders.

Now all you have are your TTRSS feeds and your "New Subscription" button is still grey'd out.  No matter which feed you click on, your new subscription button is s

[2014-07-05 18:38] nekohayo opened #42 "Crashes with various feed list treeview operations"
With 1.10.8, I experienced this randomly when reordering/moving feeds around across folders in the feeds list treeview. Just move them all around the place until you eventually get a crash.

The automated Fedora crash/stack catcher told me this was already caught and reported downstream, here, so it should have the relevant traces:

https://bugzilla.redhat.com/show_bug.cgi?id=1062807
https://retra

[2014-07-05 18:41] nekohayo opened #43 ""Any of the following" search conditions don't work"
As far as I can see, if I create a search folder (or a regular search) for more than one condition (with the requirement that it should match "any of the conditions" instead of "all of the conditions), only the first condition is taken into account - search results indicate that the rest seems to be ignored.

[2014-07-05 18:55] nekohayo opened #44 "Support parsing ISO 8601 dates for pubDate"
Some feeds that you can find on the net do not necessarily use RFC 822 for the publication date (ie: they use YYYY-MM-DD). While this is not 100% adherent to the RSS spec, I think it would be nice if Liferea could be accomodating and "Just Deal With It" by converting the thing.

Example of such a feed where feed items don't have any date recognized by Liferea:
http://www.pressdisplay.com/pressdisp

[2014-07-06 10:43] ghost opened #45 "Ability to hide the status bar"
Please add the ability to permanently hide the status bar in the view menu.

[2014-07-06 10:44] ghost opened #46 "Ability to hide the menu bar"
Please add the ability to permanently hide the menu bar in the view menu. Upon hitting the Alt key the menu bar should reappear.

[2014-07-06 19:13] #45 closed, assigned to lwindolf

[2014-07-06 19:14] #46 closed, assigned to nobody

[2014-07-06 22:05] varlesh opened #47 "No tray icon on Ubuntu 14.04"
In the settings activated tray, but it does not work - there is no icon, only notifications work.
Ubuntu 14.04
Liferea 1.10.9
Instructions from the site does not solve the problem:
gsettings set com.canonical.Unity.Panel systray-whitelist "['all']"
Error:
Scheme «com.canonical.Unity.Panel» missing

[2014-07-07 15:22] #47 closed, assigned to lwindolf

[2014-07-08 21:43] #43 closed, assigned to lwindolf

[2014-07-08 21:48] nekohayo opened #48 "Git (1.11.x) version ignores the fact that the tray icon feature is disabled"
With current git master, if I start liferea and close it with ctrl+W or alt+F4 or the window manager's close button, next time I start it, nothing will happen... the thing is that I need to start it twice simultaneously before it shows the window. This does not affect 1.10; I suspect this is a bug introduced by the fact that in 1.11, there is no more option in the preferences governing the use of

[2014-07-09 02:03] nekohayo opened #49 "Some dialogs scrolling areas do not request enough height - and sometimes shouldn't scroll at all"
The search conditions and the "new source" dialogs are too tiny and create excessive scrolling:

![1](https://cloud.githubusercontent.com/assets/479401/3518982/e4a8081c-070c-11e4-8c13-eec959385d1f.png)
![2](https://cloud.githubusercontent.com/assets/479401/3518983/e4aa2598-070c-11e4-8a10-9415dc0b3c08.png)

However, whenever possible, Liferea should avoid letting them scroll at all — see also http:

[2014-07-09 08:19] #49 closed, assigned to lwindolf

[2014-07-12 01:15] nekohayo opened #51 "Search folders count bubbles should reflect only unread items, not total items"
If you create a search folder, the little bubble on the right of the folder name will represent the total amount of search results, which I don't actually care about... instead, it should represent the amount of unread items within those search results, to be consistent with the rest of the interface (the unread counts for normal folders and feeds).

[2014-07-12 16:01] Bishopst opened #52 "Syncing with Feedly"
Is there a way to sync liferea with feedly. So that if I add content to feedly, I can then update liferea directly without having to manually add these urls to liferea everytime? I can't seem to find a way to do so. I think this would really be great given that feedly does not have a desktop or app version for ubuntu or linux!

[2014-07-12 16:10] #52 closed, assigned to nobody

[2014-07-12 16:13] #51 closed, assigned to nobody

[2014-07-13 18:41] asl97 opened #53 "doesn't automatically update feed name and favicon for new feed"
i am currently using the newest commit from 4 days ago, https://github.com/lwindolf/liferea/commit/293a5af36402376dc344e02178190f50f5d41b5e

![selection_022](https://cloud.githubusercontent.com/assets/4752645/3565495/c3438882-0abc-11e4-992c-2a1977daaa91.jpg)

the one in the fedora repo was outdated and have a few bugs so i decided to compile and install the newest version from git

[2014-07-13 19:35] asl97 opened #54 "closing/minimize the window doesn't minimize to tray"
i don't know about other people but when i minimize the window for a program that use a tray icon, i except it to minimize to tray (notification area) instead of it still being in the taskbar/panel

and pressing the X (close) button would end the whole program which is different from what is stated in the faq http://lzone.de/liferea/faq.htm#systray

[2014-07-14 20:19] #54 closed, assigned to lwindolf

[2014-07-14 20:20] #24 closed, assigned to lwindolf

[2014-07-16 10:01] convforper opened #57 "there is a website rss subscription happened repeatedly"
I like this software, simple and efficient, but there is a problem bothering me for a long time, there is a website subscription has always been not normal, I don't know is a software problem or a problem with this website
The subscription of this site are always repeat, each update to increase a repeat
source url : http://www.zhihu.com/rss

os : ubuntu 14.04 lts
liferea version:1.10.9

thanks
![s

[2014-07-16 18:57] #57 closed, assigned to lwindolf

[2014-07-17 16:35] gwern opened #59 "Feature: meaningful X title"
Currently the Liferea client, when open and running in X, has simply the title "Liferea"; `xprop` output:

[code]

I would like the title to be more informative; eg follow the schema "Liferea: $folder: $feed_title: $item_title".

This would be particularly useful for anyone using window-tracking software to monitor their time; I use [arbtt](http://arbtt.nomeata.de/) and right now I have to classif

[2014-07-17 16:47] gwern opened #60 "Prefetch/cache images in items"
I have an unfortunately slow Internet connection; when I read through my items in Liferea, there is one thing that makes the experience noticeably less pleasant than Google Reader was: whenever a full-text post appears, with images in it, I must wait for the image to be fetched, which is noticeably slow. Since a good chunk of my statistics & economics feeds include diagrams, graphs, photos etc, th

[2014-07-17 21:51] #59 closed, assigned to nobody

[2014-07-20 10:31] #21 closed, assigned to lwindolf

[2014-07-21 12:15] kshcherban opened #61 "Font preferences"
Please allow font changes in Liferea preferences.
The only way to change default font i found was to create and edit special css in home directory.

[2014-07-21 18:12] #61 closed, assigned to nobody

[2014-07-22 11:32] #34 closed, assigned to lwindolf

[2014-07-22 18:55] rtennill opened #62 "installed packages not detected"
My OS is Mint 17 (variation of Ubuntu 14.04). I've tried building from a fresh clone and the latest release bzip and in both cases autogen.sh fails to detect several packages that are installed according to apt. Some packages have different names in the repos so that may be an issue but any other suggestions are welcome!

No package 'gtk+3.0' found <-- installed
No package 'libxsl' found <-- insta

[2014-07-22 21:24] #62 closed, assigned to lwindolf

[2014-07-22 21:51] #44 closed, assigned to lwindolf

[2014-07-22 21:53] #29 closed, assigned to lwindolf

[2014-07-22 22:23] #53 closed, assigned to lwindolf

[2014-07-26 12:06] #25 closed, assigned to lwindolf

[2014-07-26 22:32] asl97 opened #64 "Old links to sourceforge page in docs and other places"
just to name a few:
- [x] [about_en.html](https://github.com/lwindolf/liferea/blob/f2dfd24089fc311f62940001bbc19d9bcfb25d78/doc/html/about_en.html)
- [x] [topics_en.html](https://github.com/lwindolf/liferea/blob/f2dfd24089fc311f62940001bbc19d9bcfb25d78/doc/html/topics_en.html)
- [x] [faq_en.html](https://github.com/lwindolf/liferea/blob/3b67e6907ec1515a68cb3ed0f529454ae136e148/doc/html/faq_en.html

[2014-07-27 10:23] #64 closed, assigned to lwindolf

[2014-07-29 18:24] #60 closed, assigned to lwindolf

[2014-07-30 08:43] ghost opened #69 "Liferea + XFCE"
Dialog's "About" and "Preference" use non-standart theme. liferea 1.10.8

[2014-07-30 11:19] #69 closed, assigned to lwindolf

[2014-07-31 03:01] asl97 opened #70 "using curl and wget for saving"
i would prefer not having to use a gui program just to download a image using the right click `save image as`

there used to be a option in the download tool preferences for using ether curl and wget but it was remove for a unspecified reason

not everyone would have steadyflow, gwget or kget install

i myself got uget, aria2, curl and wget installed, i don't think anyone would want to install ano

[2014-07-31 06:42] #70 closed, assigned to lwindolf

[2014-08-05 12:00] nekohayo opened #72 "Crashes while playing some YouTube flash videos"
While playing a YouTube video embedded into a feed item's contents, Liferea crashed. Fedora's ABRT caught the crash and told me the issue was already reported downstream here: https://bugzilla.redhat.com/show_bug.cgi?id=1033959

[2014-08-06 06:46] asl97 opened #73 "`error` favicon problems"
1. when the feed error (404, parse error, etc etc), it doesn't change into the error favicon shown below like in the past
2. if i go offline (disconnect from the internet) then force update the favicon, it all change into the error favicon which is  **expected** but if i try to force update it again after reconnecting to the internet or click the `update all` button,  it doesn't **change back to t

[2014-08-13 05:19] PandaJim opened #74 "1.11.0 make error"
Just build the 1.11.0 release on Ubuntu 14.04, but there are so much make warnings and errors.

See:

https://launchpadlibrarian.net/182151935/buildlog_ubuntu-trusty-amd64.liferea_1.11.0-0trusty1_FAILEDTOBUILD.txt.gz

[2014-08-13 09:56] #74 closed, assigned to lwindolf

[2014-08-13 10:24] #27 closed, assigned to lwindolf

[2014-08-13 10:27] #14 closed, assigned to nobody

[2014-08-13 10:29] #40 closed, assigned to lwindolf

[2014-08-13 10:35] #23 closed, assigned to lwindolf

[2014-08-13 17:07] GreenLunar opened #75 "Liferea is always hidden and inaccessible"
1. Enable plugin Tray Icon.
2. Minimize Liferea (by the way, Liferea is not shown in task-bar).
3. Click on Liferea tray icon.
4. Liferea would show up and vanish instantly.

Maybe you need to do these steps between steps 1 and 2.
* Restart Liferea.
* Click on Liferea tray icon.

Version: 1.11.0-git.

[2014-08-16 05:32] GreenLunar opened #77 "Source Selection dialog to be a wizard"
Use a wizard dialog so user would be able to turn back with a click, instead of returning to main menu. A wizard dialog would also eliminate popup of windows in several places, which is annoying.

[2014-08-16 05:37] GreenLunar opened #78 "Shaky text"
Ever since I have upgraded to Liferea GTK+3 I see dynamic shaky text while updating subscriptions which is annoying and is causing to higher usage in CPU.

![liferea_shaky_writings](https://cloud.githubusercontent.com/assets/2053884/3941024/2f559a1a-2507-11e4-8265-d553b190fe8d.gif)

[2014-08-16 05:44] GreenLunar opened #79 "[RTL] Back/Forward icons are misplaced"
Buttons are in their proper positions, but icons are not.

![liferea_back-and-forward](https://cloud.githubusercontent.com/assets/2053884/3941042/558d4d08-2508-11e4-861d-9926eb08c84a.png)

[2014-08-16 09:04] #77 closed, assigned to nobody

[2014-08-23 09:17] magpie514 opened #80 "Problems detecting dark GTK color themes"
I use a KDE4 desktop with Oxygen-GTK as GTK theme of choice, for consistency reasons.
Lately, since several programs I am using have a dark scheme by default, I decided to change my color scheme to a dark, Ambiance-like theme with grays and oranges, but Liferea doesn't seem to like it very much, as it renders the unread item indicators with colors too close from each other, with me having no idea

[2014-08-23 10:42] GreenLunar opened #81 "Inability to add subscriptions"
I can not add subscriptions, be it by right click on an address (web page or web feed), drag-n-drop, or by using main menu or context menu of sidebar.

An error message with the following appears:

Version: 1.11.0-git

[2014-08-24 19:26] #39 closed, assigned to nobody

[2014-08-25 00:35] jpritikin opened #82 "with reduced feed list, I cannot read last unread item"
As soon as I try to read the last unread item in a folder then the whole folder disappears and the item disappears along with it. Liferea 1.10.3-1ubuntu1

[2014-08-26 10:23] ndias opened #83 "Sorting feeds in a Folder, "Program received signal SIGSEGV, Segmentation fault""
Liferea crashes when sorting feeds in a Folder, with "Program received signal SIGSEGV, Segmentation fault"

The gdb output

Program received signal SIGSEGV, Segmentation fault.
gtk_tree_store_iter_n_children (tree_model=0xcd8da0, iter=0x7fffffffc450)
    at gtktreestore.c:767
767	      node = node->next;
(gdb) bt
#0  gtk_tree_store_iter_n_children (tree_model=0xcd8da0, iter=0x7fffffffc450)
    at

[2014-08-27 06:51] ebousse opened #84 "# please delete this issue #"

[2014-08-27 07:20] Zerwan opened #85 "Tiny tiny RSS (1.10) sync not working with Liferea git: JSON UTF-8 BOM problem?"
[Sorry for the issue titled "please delete this issue", it was made with a wrong github account, thus i had to start all over with the right one :(]

Hello,

I was having some troubles connecting Lifera to a Tiny tiny RSS server (version 1.10): nothing happened after adding the RSS source. When starting liferea with "--debug-all", the message when manually starting the sync was "Invalid JSON retur

[2014-08-27 10:06] DanMan opened #86 "Support HTTP content negotiation"
Version 1.10.8 doesn't seem to support HTTP feed URIs that need to be requested with an appropriate Accept Header like "application/atom+xml" for them to work. My pathetic tests tell me it's currently not sending _any_ Accept Header, which would already suffice, if it did. I suggest:

[code]

RSS currently has no offical content-type. Atom is the more properly defined, having learned from RSS, and

[2014-08-28 08:05] DanMan opened #87 "URL resolving wrong if base tag involved"
It seems that if you point Liferea to a HTML page that contains a link element which points to a news feed, it extracts the actual feed's URL from there. If not, ignore this ticket.

It doesn't work right, if the feed URL referenced in the link element is relative and the HTML document also contains a base tag. It's interpreting the feed URL relatively to whatever page you're currently on, instead

[2014-08-31 18:23] moraxy opened #88 "Minor error in German translation"
They're both the same

[code]

[2014-08-31 20:22] #81 closed, assigned to lwindolf

[2014-08-31 20:23] #84 closed, assigned to nobody

[2014-09-01 21:00] asl97 opened #90 "Libnotify plugin not working"
[code]

[2014-09-04 14:34] samtygier opened #91 "Items wrongly marked as read"
(orginally reported at http://sourceforge.net/p/liferea/bugs/1129/ ).

Sometimes all the unread items in Liferea will be suddenly marked as read. I am using Liferea 1.10.11

I think sometimes this happens when I am not intereacting with liferea. For example I might have 200 unread items, a few hours later, even though I have not interacted with liferea the count may have dropped to 50 (I suspect i

[2014-09-05 06:49] brycenesbitt opened #92 "GOBJECT_INTROSPECTION_CHECK error on compile, though gobject-introspection is installed"
On "configure" I get:

user agent OS = Linux
./configure: line 13957: syntax error near unexpected token `0.9.3'
./configure: line 13957:`GOBJECT_INTROSPECTION_CHECK(0.9.3)'
make: **\* [config.status] Error 2

Despite the fact that "sudo apt-get install gobject-introspection" has been run on Ubuntu 12.04. libgirepository1.0-dev is present also.

Is it possible to compile liferea without the intros

[2014-09-08 12:34] DanMan opened #93 "Valid Atom feed fails (parsing error)"
http://www.validome.org/rss-atom/validate?lang=ge&url=https://shop.ricosta.de/de-de/products%3fctype=atom%26order=date&version=atom_1_0

As you can see, only some warnings about semantics. Same update date doesn't really matter, and it's actually true, too. I'm running v1.10.11 on Fedora 20.

I think it's some sort of discovery problem, because running it through the W3C feed validator, which comp

[2014-09-08 13:14] nikoss opened #94 "KISS feed sync (brainstorming)"
Hi,
some thoughts here...

You were asking yourselves why the use of desktop feed readers is declining.
If the comments were open in Liferea's blog ;) , I would have commented, that,
probably, it is because, nowadays, people have many computers (desktop, tablet, phone, etc).
And they want to have access to their feeds from all of them.
So they prefer to use some online service.

I, too, so it happ

[2014-09-10 02:21] geoffm opened #95 "Segmentation fault"
Running liferea 1.10.3 on LinuxMint17. When launching liferea in terminal I get following errors:
(liferea:7652): Gtk-CRITICAL **: gtk_tree_store_get_path: assertion 'iter->stamp == priv->stamp' failed
(liferea:7652): Gtk-CRITICAL **: gtk_tree_view_set_cursor_on_cell: assertion 'path != NULL' failed
(liferea:7652): Gtk-CRITICAL **: gtk_tree_view_scroll_to_cell: assertion 'tree_view->priv->tree !=

[2014-09-18 22:47] moraxy opened #97 "user.css still contains old dump filename"
[css/user.css L:48](https://github.com/lwindolf/liferea/blob/master/css/user.css#L48)

[code]

[main.c L:175](https://github.com/lwindolf/liferea/blob/master/src/main.c#L175) has it hardcoded as well. Certainly a bit nitpicking, also no idea how easy that's to change thou given that it's a translatable string.

[code]

[2014-09-23 20:08] #97 closed, assigned to lwindolf

[2014-09-27 09:31] janlarres opened #100 "Problems with dark Adwaita theme in Gtk 3.14"
I am using the dark variant of the default Adwaita theme (by setting `gtk-application-prefer-dark-theme = true`). This worked fine until recently, but after upgrading to the new 3.14 release of Gtk the content section of a feed is now displayed as white-on-white:

![liferea-dark](https://cloud.githubusercontent.com/assets/465527/4430280/c8cf515e-4627-11e4-9e8d-2997de5a667b.png)

Here is the output

[2014-10-05 08:36] Eldelshell opened #101 "Support for file hosting services"
Allow to change the DB file location to a different folder. This would allow, for example, to share between devices using Drive, Dropbox, etc.

### Workaround:
Currently the only way to achieve this is to create a symlink of the `liferea.db` file.

[2014-10-09 02:39] ghost opened #102 "Way to turn off bell / beep in Item list"
Is there a way to turn off the bell / beep in the item list?

I bring up Liferea 1.11.1 (built from source).
Select a news item in the list (mouse).
I use the keyboard down arrow key to go to the very bottom of the item list.
When I reach the bottom, the PC speaker beeps.
Now delete the item (the last item in the list), I hear another beep.

Is there a way to turn this off?
I'm not sure if this is

[2014-10-09 22:53] #102 closed, assigned to nobody

[2014-10-10 12:25] nodiscc opened #103 "Hide feeds with no unread items?"
Hi, thanks everyone for your work on Liferea. I use this program for ages and recently came back to it after ditching TinyTinyRSS. One thing I miss is having **only** feeds with unread items display in the left panel. I know I can use `Reduced feed list` but this also hides folders/categories.

Is there a way to get this behavior?

[2014-10-11 22:50] #103 closed, assigned to nobody

[2014-10-11 22:52] #92 closed, assigned to nobody

[2014-10-14 20:21] #88 closed, assigned to lwindolf

[2014-10-14 20:22] #86 closed, assigned to lwindolf

[2014-10-14 20:22] #100 closed, assigned to lwindolf

[2014-10-14 20:33] #80 closed, assigned to lwindolf

[2014-10-16 19:03] openhs opened #105 "Gwget has to be started manually prior to download action in Liferea"
When trying to download an enclosure in Liferea 1.10.9 nothing happens.  I have Gwget installed and set as download manager in Liferea's preferences.  However if I start Gwget manually then downloading from Liferea works.

This is not good user experience.  Enclosure download should not be that complicated from the user point of view (by complicated I mean to start a download manager prior to maki

[2014-10-18 18:36] noflag opened #106 "Open links without focusing firefox"
It gets annoying when there are a lot of links I'm clicking in an article and the firefox window keeps popping up.

[2014-10-25 00:47] nekohayo opened #107 "Fullscreening HTML5 videos should really fullscreen them"
Like most Webkit-based apps I've seen in the past, clicking the "fullscreen" button on HTML5 videos does not put them in fullscreen of the screen, only "full-webkit-area". It is somewhat okay-ish in Liferea's normal layout mode, but the concept breaks down pretty quickly in "wide" view mode:

![capture d ecran de 2014-10-24 20 36 59](https://cloud.githubusercontent.com/assets/479401/4778182/355b9c

[2014-10-31 11:30] fbellet opened #108 "persistent cookie storage for the webkit widget"
Having a persistent cookie storage in the webkit widget would allow to remember authentication information in the case of public feeds, that contains links to content requiring authentication. webkit2gtk provides such a capability (with WebKitCookieManager).

[2014-11-05 15:29] #93 closed, assigned to lwindolf

[2014-11-06 09:39] badshah400 opened #110 "Leaving web page hangs app in poll() called from g_tls_connection_gnutls_close"
Originally reported at:
https://bugzilla.opensuse.org/show_bug.cgi?id=902622

While running liferea, I loaded the webpage from here:
https://www.backblaze.com/blog/hard-drive-reliability-update-september-2014/

I can scroll up and down within the webpage, but if I try and switch to the
next item, the application hangs in poll() called from g_tls_connection_gnutls_close().

Stack trace follows in n

[2014-11-09 10:51] McDoogal opened #112 "Feature request: a function to hide a feed but still have it being caught in a filter."
I love Liferea and have been using it for years but this is a function i've always thought was missing.

For example maybe i'm totally disinterested in all world news except for Inner Mongolia and I really want to ignore everything else and just be able to hide the rss feed but still see the filter results from that feed.

So the feed should only disappear visually but it should still be detected

[2014-11-10 20:31] #105 closed, assigned to lwindolf

[2014-11-19 21:50] ndias opened #113 "When updating feeds liferea interface freezes"
Version 1.10.12

[2014-11-23 15:27] lwindolf opened #114 "Replace UTF-8 validation g_error() in src/ui/liferea_htmlview.c with error message"

[2014-11-23 15:51] lwindolf opened #115 "Add explicit dbus build dependency"
As suggested by David Smith in https://sourceforge.net/p/liferea/bugs/1126/

[2014-11-24 22:15] asl97 opened #116 "script tag is getting strip from feed"
i ended up having to squash everything into the onclick attribute in the button tag to have JavaScript in my site scraper's feed :/

[2014-11-24 22:24] #116 closed, assigned to nobody

[2014-11-27 13:22] vindarel opened #117 "segfault with bad feed entry"
Hi there,
I found a segfault when I try to read a particular feed, the one entitled "my ideal python setup for statistical computing" by Nathan Lemoine from november 26th on Planet Python: http://planetpython.org/
I think the feed is malformed because clicking on the title redirects to Planet Python (but clicking on "reading" redirects correctly to the blog).

Launching liferea with --debug-verbos

[2014-12-01 22:27] bberberov opened #118 "Drag and drop does not work"
Installed 1.10.12 from source on an updated Kubuntu 14.10.

Drag and drop does not work. Cannot reorder feeds and cannot drag items into news bins.  The version in Universe does not work either.

[2014-12-04 13:47] Tuchkata opened #119 "Linux Mint 17.1 Cinnamon tray"
Hi, I want to put the Liferea to Mint Cinnamon 17.1 tray, but I don't see such an option as there is only "Add to message indicator menu". Can you fix it or provide a correct plugin for it? Thanks in advance.

[2014-12-04 20:36] #119 closed, assigned to lwindolf

[2014-12-12 04:25] nekohayo opened #120 "Dark theme variant detection does not work with Adwaita/GTK+ 3.14"
With GTK 3.14, if I enable the global dark theme setting for GTK, Liferea's feed items contents are shown as white text on a white background...

[2014-12-12 05:02] nekohayo opened #121 "Title header for folders (in the preview pane) gets wrapped onto multiple misaligned lines"
As this screenshot (taken on 1.10.11) shows:

![capture d ecran de 2014-12-11 23 53 41](https://cloud.githubusercontent.com/assets/479401/5407346/104fc57c-8192-11e4-89aa-a52eebae19b0.png)

This happens only when clicking a folder, not individual feeds.

[2014-12-16 05:21] geoffm opened #122 "Liferea crashes at launch, "segmentation fault""
Whenever I try to run liferea it doesn't load and I get this error

(liferea:11978): Gtk-CRITICAL **: gtk_tree_store_get_path: assertion 'iter->stamp == priv->stamp' failed

(liferea:11978): Gtk-CRITICAL **: gtk_tree_view_set_cursor_on_cell: assertion 'path != NULL' failed

(liferea:11978): Gtk-CRITICAL **: gtk_tree_view_scroll_to_cell: assertion 'tree_view->priv->tree != NULL' failed
Segmentation

[2014-12-26 17:27] nekohayo opened #124 "Images from the XKCD "What If?" feed don't show up"
If you add http://what-if.xkcd.com/feed.atom to Liferea, you'll see that for most (all?) posts, the images don't show up in liferea... but if you look at that feed.atom in Firefox, the images do show up.

[2014-12-27 22:19] #124 closed, assigned to lwindolf

[2014-12-28 22:55] geoffleach1 opened #125 "Buttons have moved"
Version 1.10.11, Fedora 21 and Xfce4. The "Mark Items Read" and Next Unread Item have swapped positions. Really?

[2014-12-28 22:57] geoffleach1 opened #126 "Size of upper panel not remembered"
Version 1.10.11, Fedora 21 and Xfce4.  The size of the upper panel (index for current folder) is not remembered, and as far as I can tell there is no default setting.

[2014-12-28 23:06] #125 closed, assigned to lwindolf

[2014-12-28 23:09] #126 closed, assigned to lwindolf

[2014-12-30 15:05] kwill opened #127 "Enhancement request: simple content filter"
It would be useful in some cases to add very simple filters to feeds based on their title (or body).

Use cases:

 * Exclude posts with "Daily update" in the title
 * Include only posts with "Release" in the title

Elaborations (beyond this request) might include:

 * Regex filtering
 * Multiple filters for the same feed (not sure what logic to suggest here, perhaps see https://github.com/FredJul/

[2014-12-30 15:10] kwill opened #128 "Enchancement request: import OPML at root level & detect duplicates"
Steps to reproduce:

 * Click "All" folder
 * From menu, select "Import feed list..."
 * Select OPML file
 * Click "Import"

What should happen:

 * OPML imported at same level as existing folders

What happens instead:

 * OPML imported into new subfolder

Test case:

If you exported to OPML and then imported the same OPML file what should happen? In an *ideal* scenario, nothing, as duplicates wo

[2015-01-02 21:38] lwindolf commented on #128
I understand your use case. But won't fix/implement due to missing manpower.

[2015-01-02 21:38] #128 closed

[2015-01-03 14:25] pcause opened #129 "sorting by feed for tt-rss"
I have a tt-rss server and I use tt-rss categories and each category has multiple feeds.  When I display a category and click the column header to sort by feed the item list isn' t sorted correctly.  I can't see a pattern in how it is sorted but a guess might be that the items are sorted by feed id returned by tt-rss instead of the feed name / feed URL.

[2015-01-04 18:52] lwindolf commented on #129
The sorting order is by internal node pointer. The idea is that sorting by feed means "grouping items by feed". As you click a column containing an icon, there is no logical ordering. Thus the implementation was simplified to pointer sorting.

So from my point of view sorting is correct.

[2015-01-04 18:58] lwindolf commented on #121
I believe this is a translation issue. FR translation introduced a whitespace that in conjunction with the CSS definitions caused a wrap. Please retest!

[2015-01-04 19:06] nekohayo commented on #121
Haven't tested the git version, but I can confirm it's a translation issue as it does not occur when running "LANG=en_CA.UTF8 liferea"

[2015-01-04 19:13] lwindolf commented on #121
Thanks for the retest!

[2015-01-04 19:13] #121 closed

[2015-01-04 19:21] #114 closed

[2015-01-05 07:39] kwill commented on #128
What a pity, but thanks anyway. I will investigate external OPML-merging libraries.

[2015-01-05 12:19] gunnar-g commented on #122
Backtrace:
(gdb) bt
#0  0x000000000044e3b4 in enclosure_list_view_load ()
#1  0x00000000004419fe in itemview_select_item ()
#2  0x0000000000446186 in liferea_shell_create ()
#3  0x00000000004303c7 in ?? ()
#4  0x00007ffff2a463b8 in g_closure_invoke () from /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
#5  0x00007ffff2a57d3d in ?? () from /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
#6  0x00007fff

[2015-01-06 09:06] GreenLunar opened #131 "Add Bookie - bookmark your web"
Python based delicious.com replacement
https://github.com/bookieio/Bookie
https://bookie.io/
http://bmark.us/

[2015-01-06 20:19] kallus opened #132 "Broken link in documentation"
The link to "Snownews and Liferea script repository" in the documentation under Managing Subscriptions / Creating Special Feed Subscriptions is broken. The new url seems to be https://kiza.eu/software/snownews/snowscripts/

I am using Liferea 1.10.12.

[2015-01-07 14:53] ao2 commented on #29
FWIW I preferred the previous behavior, it was more consistent with how my email client behaves (Sylpheed), and folders with new content were **popping out** more to my lazy brain.

I guess I'll just have to get used to the new behavior. :)

[2015-01-07 14:56] nekohayo commented on #29
AFAIK this didn't change inside the feed view, just on the list on the left, right?
Anyway, my arguments are above and still stand... in my case every item is always in bold as I can't possibly consume all of the content produced by the Internet on a regular basis, and the bold overpowers the "unread counters" visually so it's actually detrimental to attracting my attention; YMMV etc.

[2015-01-07 15:10] ao2 commented on #29
The change of behavior occurred only in the folder view, yes.

It also depends on **how** you group by folders, of course.
In my case I can notice that the update period for some folders is systematically smaller than other folders, so the bold text make me see when the frequent ones get updated.

Also I have a couple of folders always **expanded** in order to see the individual feeds, and the bol

[2015-01-07 16:01] lwindolf commented on #132
Fixed. Thanks for the hint!

[2015-01-07 16:01] #132 closed

[2015-01-07 19:48] #90 closed

[2015-01-07 19:52] lwindolf commented on #108
I see your use case now, the problem I have with simply implementing it is: it would decrease user privacy. Because right now there is no cookie persistence and almost no cookie based user tracking.

When implementing it it would need to be turned off per-default and one actually would quickly need a per-domain cookie management as we have in major browser. That's a type of complexity I cannot mai

[2015-01-07 19:53] lwindolf commented on #22
I'm closing this as categories are shown now.

I'll create an extra ticket for subscribing into TinyTinyRSS categories to be implemented later.

[2015-01-07 19:53] #22 closed

[2015-01-07 19:55] lwindolf opened #133 "Subscribe into TheOldReader categories"
New subscriptions currently go into TheOldReader root folder. But they should go into the selected folder.

See #22

[2015-01-07 20:00] lwindolf commented on #120
Did you already test the fix for #100?

[2015-01-07 20:04] lwindolf commented on #28
I'm now using more often in wide mode + fullscreen and I'm suffering from the effect too. It's somehow paradox by using more screen width, the width suddenly is not enough :-)

[2015-01-07 21:25] lwindolf commented on #28
I've made a first implementation. The problem I have with it is that this rendering causes a lot of visual noise. It's hard to focus on the headline with the (more or less) irrelevant data being there.

@nekohayo How can we render the date (with Pango features) so it doesn't disturb?

[2015-01-07 22:24] lwindolf commented on #28
Made some more tries to make it readable:

- appended date (without bold style)
- enforced row grid lines to help distinguish headlines

The grid lines are quite disturbing and unexpected, but they solve the readability issue for me.

One GTK cell renderer issue that is left is the resizing of rows where normal text uses less vertical space than the bold one. This causes jumping...

[2015-01-08 08:05] kallus commented on #28
Oh, if I understand that diff correctly I will now be forced to see the date again?

I'm starting to wonder if one line feed titles where each column is possible to hide is better, considering that it's simpler. If the change to multi line won't be optional, I would really wish for the possibility to hide all information that I don't need (which is everything but the title for me).

Anyways, I'm r

[2015-01-08 15:42] pvdl opened #134 "Default Science News RSS-feed is not correct"
The correct RSS-feed should be: https://www.sciencenews.org/feeds/headlines.rss

[2015-01-08 17:58] lwindolf opened #135 "Test wether WebkitWebView "enter_fullscreen" signal can be used to fullscreen on HTML5 video playback"
http://webkitgtk.org/reference/webkitgtk/stable/webkitgtk-webkitwebview.html#WebKitWebView-entering-fullscreen

[2015-01-08 19:30] lwindolf commented on #28
@kallus I understand your worry and I do value your input. There are two things to consider: first having multi-line titles is in principle independant of the request to be able to customizing columns. Second I believe the majority of the users doesn't want to hide the date column. Given those two priorities and my unwillingness to increase complexity with a column preferences dialog handling I te

[2015-01-08 19:58] lwindolf commented on #28
@nekohayo BTW for testing I added a button-press listener on the lower right unread counter in the status bar. It triggers the "Next Unread" function. I guess this could be helpful for thumb based browsing on touchpads. But I'm not happy with the responsiveness...

[2015-01-08 21:00] kallus commented on #28
@lwindolf Looks great! I agree that it's not worth adding extra complexity to preferences to make it possible to remove date.

[2015-01-11 15:57] lwindolf commented on #134
Fixed. Thank you for reporting this issue.

[2015-01-11 15:58] #134 closed

[2015-01-11 15:59] lwindolf commented on #131
Could you provide an example bookmark URL? Or maybe even a patch (you find the relevant code in src/social.c).

[2015-01-11 16:04] lwindolf commented on #117
Sorry I cannot reproduce the crash. The feed entry from 26.11. is also not visible anymore.

If you get another crash please attach a copy of the feed and a backtrace (for instructions check README.md).

[2015-01-11 16:04] #117 closed

[2015-01-11 16:04] lwindolf commented on #122
I can reproduce the assertions.

[2015-01-11 16:08] lwindolf commented on #118
Dragging items into news bins was never implement, this is not a regression.

I retested DnD without problems. I cannot reproduce the problem.

Also much more details are needed:

- Could you provide a video/screencast?
- Into which type of folder do you try to drop?
- Is the target a local folder or a folder of a remote source?
- Is the folder empty or does it have contents already?
- Do you get

[2015-01-11 16:09] #112 closed

[2015-01-11 16:11] lwindolf commented on #106
The external browser focussing properties are influenced both by the window manager settings and the browser itself. A launching application cannot really control it. The way Liferea launches browsers already tries to pass those parameters that cause a background launch.

Experience shows that launching in tabs more often stays in background than launching new windows. You might want to check into

[2015-01-11 16:11] #106 closed

[2015-01-11 16:12] lwindolf commented on #101
I understand your use case but do not have the time to build this feature. Please consider contributing a patch!

[2015-01-11 16:12] #101 closed

[2015-01-11 16:14] lwindolf commented on #94
@nodiscc Yes this could probably be implemented. Still for me it is not something I will do given the time I spend on the projec. Contribute :-) !!!

[2015-01-11 16:14] #94 closed

[2015-01-11 16:15] lwindolf commented on #95
Closing as duplicate to #122

[2015-01-11 16:15] #95 closed

[2015-01-11 16:15] lwindolf commented on #83
Reproduced

[2015-01-11 16:16] lwindolf commented on #73
Reproduced

[2015-01-11 16:17] lwindolf commented on #72
The last WebkitGtk release has flash crash fixes. Might help... http://webkitgtk.org/2015/01/07/webkitgtk2.4.8-released.html

[2015-01-11 20:02] burningTyger opened #136 "Share feature"
Possibly a plugin request. I'd like to share articles to getpocket.com to archive them. I guess this is mostly some rest call and might work for other services as well. I have no experience with writing plugins whatsoever nor gnome development so I post this here in case someone could fix it :)

[2015-01-11 22:09] lwindolf commented on #136
Closing this feature request.

[2015-01-11 22:09] #136 closed

[2015-01-11 22:49] lwindolf commented on #133
Implemented.

[2015-01-11 22:49] #133 closed

[2015-01-12 04:09] nekohayo commented on #28
Hi Lars, just wanted to say that it's awesome that you're experimenting with this direction, and that what I'm seeing in the screenshot looks pretty neat! Some questions/nitpick about what I'm seeing there:

* It's slightly odd that the row heights varies, but that's probably not a dealbreaker.
* Instead of "---", I suggest just using the (unicode) emdash character: —
* Are the parentheses around

[2015-01-12 04:11] nekohayo commented on #120
Did not test it but the description for bug #100 seems the same, so closing as it's a duplicate I guess

[2015-01-12 04:11] #120 closed

[2015-01-12 06:17] 6ahodir commented on #18
I've started working on this. Contributors are welcome: https://github.com/6ahodir/liferea-owncloud-news

[2015-01-12 11:10] jancborchardt commented on #18
@6ahodir awesome! Feel free to spread the word on the ownCloud users/developers mailing lists. :)

[2015-01-12 12:35] pcause commented on #129
what i want *is* group by feed and the UI doesn't do that.  I have a category, which is basically a folder, and withing that category feeds.  When displaying the folder I can't get the grouping by feed.  I don't think this should be different than any folder/feed/items type for normal feeds.  I think the way the node is synthesized for tt-rss is juts slightly off.  If you still think this sin't a

[2015-01-12 17:16] bberberov commented on #118
I believe I figured out what the problem is.  By the way, I am actually using Kubuntu 14.04 LTS.

Kubuntu 14.04 by default comes with gtk3-engines-oxygen version 1.3.5 as the default GTK 3 theme.  There is an issue with that particular theme that prevents applications like Liferea from handling drag and drop events.  I installed gtk3-engines-unico and a compatible theme, changed it in KDE, and now

[2015-01-12 17:57] lwindolf commented on #28
Hi Jeff, thank you for the feedback.

The constant height is possible, but really aweful if you have 1000 items in the view and one of it forces a height of 200px, then you waste an absurd amount of space. So it is just not possible to use it.

I'll check how it looks with emdash and without parantheses...

The right-aligning is impossible aside from implementing a new GtkCellRenderer, Pango doesn

[2015-01-12 17:59] lwindolf commented on #18
@6ahodir Great to hear. If you need help with the liferea code base please drop a mail.

[2015-01-12 17:59] lwindolf commented on #118
That's weird. Thanks for figuring this out!!!

[2015-01-13 02:15] 6ahodir commented on #18
@jancborchardt, thanks for the heads up.
@lwindolf, thanks for offering help. I will definitely ping you soon. ;)

[2015-01-13 03:28] cosenal commented on #18
@6ahodir is there something working that I can try already?

[2015-01-13 05:02] 6ahodir commented on #18
@cosenal, unfortunately, no. But keep an eye on the repo, hopefully we'll have something working in a couple of weeks.

[2015-01-13 21:17] lwindolf commented on #18
@6ahodir: With above change a new plugin interface is expose allowing to register plugins providing new "Sources". The plugin boiler-plate would look like this:

    from gi.repository import GObject, Peas, PeasGtk, GLib, Gtk, Liferea
    class OwnCloudPlugin(GObject.Object, Liferea.NodeSourceActivatable):
    __gtype_name__ = 'OwnCloudPlugin'

    object = GObject.property(type=GObject.Object)

[2015-01-16 11:31] voidus commented on #127
Yes please. Writing/Downloading a script just to white/blacklist is pretty hard.

[2015-01-17 00:48] asl97 commented on #127
tbh, i think writing a script is easier than adding a filtering function to liferea.

in any case, to me, this sound like a feature request, see [faq](http://lzone.de/liferea/faq.htm#feature-x)

[2015-01-17 09:35] snapy666 commented on #122
I have exactly the same since today. I'm on Ubuntu 14.04 / 64bit. Is there anything that would help to fix this bug?

[2015-01-19 09:12] kwill commented on #127
Apologies, I hadn't read the FAQ (or I did and have since forgotten).

[2015-01-19 09:12] #127 closed

[2015-01-19 10:24] UdongeinChan opened #140 "Ignored the last position of the vertical panel."
If the program runs in the system tray coiled, when you expand the window, the panel headers is to compact.

http://i.imgur.com/IQV8T7g.png

[2015-01-30 01:35] gatlinnewhouse opened #141 "Where does Liferea store cached feed items?"
Where are the feed items downloaded?

[2015-01-30 08:01] lwindolf commented on #141
Check ~/.local/share/liferea/liferea.db

This location is as conforming to the XDG specification.

[2015-01-30 08:01] #141 closed

[2015-02-05 03:20] reyes-p commented on #122
Running Ubuntu 14.04.1 / 64bit I can also reproduce, core dump and traceback below:

(liferea:8934): Gtk-CRITICAL **: gtk_tree_store_get_path: assertion 'iter->stamp == priv->stamp' failed

(liferea:8934): Gtk-CRITICAL **: gtk_tree_view_set_cursor_on_cell: assertion 'path != NULL' failed

(liferea:8934): Gtk-CRITICAL **: gtk_tree_view_scroll_to_cell: assertion 'tree_view->priv->tree != NULL' faile

[2015-02-05 21:11] avDuma opened #142 "Liferea and libappindicator"
Hi,
I'm using Bodhi Linux 3.0 (Ubuntu Trusty + E19) and I've seen that liferea doesn't display on system tray icon / notification area.
I've read that Ubuntu's package strip out tray support from liferea, so I've compiled liferea 1.11.2 from sources.

Compiling was fine, I've also installed libindicate and libnotify packages, but on E19 tray icons doesn't appear nothing.
E19 system tray works with

[2015-02-06 05:37] hyperair commented on #124
Liferea doesn't though. I just copied an image location, and got this: file:/imgs/a/128/why.png. That can't be correct under any circumstance.

[2015-02-06 07:01] asl97 commented on #124
somebody should tell the people at xkcd about this, i will just leave this cc here:
cc: @davean

[2015-02-08 18:42] cocopipos opened #143 "Add ability to bookmark items offline"
I think it would be cool to keep a list of interesting items without the need of having an account in a third party service (blinklist)

[2015-02-09 17:23] #122 closed

[2015-02-10 11:01] Mno-hime commented on #32
Disabling Ctrl-R accelerator as per recent blog trick helped me a lot.

[2015-02-11 04:07] hfiguiere opened #144 "images too wide"
The way Wordpress handle images in blog post is that it set the width/height attribute to the native size of the picture and then use CSS to resize it. And that's in the RSS minus the CSS, so we end up with excessively large images that overflow.

To fix this we can have in the default CSS the following rule:

[code]

This will set the max width of the image to 550px (a different value could be us

[2015-02-11 04:11] hfiguiere commented on #144
I'm running 1.10.13 as package in Fedora 21.

[2015-02-11 15:11] julien51 opened #146 "SubToMe support"
Several blogs I read have a [SubToMe](https://www.subtome.com/#/) button and I use their extension in my browser. It would be nice if Liferea was an option there.

[2015-02-11 15:31] asl97 commented on #146
people sure don't read the faq do they?

anyway, there is that rss option in the `view full list of service`, if that doesn't work, you could always just export the [OPML](https://www.subtome.com/#/subscriptions) and import it into liferea

[2015-02-11 19:42] lwindolf commented on #28
@nekohayo: I changed to emdash, but didn't drop the parantheses as IMO those actually help to identify the date string as a label block more easily.

Closing this change for now, I'm using the mode now for some weeks and find quite usable. I'm open to further improvements of the feature and we should track them in separate tickets.

[2015-02-11 19:42] #28 closed

[2015-02-11 20:15] lwindolf commented on #48
Finally isolated the two overlapping causes. Code got simpler...

[2015-02-11 20:15] #48 closed

[2015-02-13 19:25] Obsidien opened #148 "HighContrast icon theme"
GNOME[1] and Gtk (integrated in 3.15.5) support a second icons’ theme, HighContrast. It would be great for accessibility that Liferea offers such an icon.

[1] https://wiki.gnome.org/Initiatives/GnomeGoals/HighContrastAppIcons

[2015-02-13 20:08] lwindolf commented on #148
I'm personally just not able to provide such an icon. I posted a help request in the development blog though: http://lzone.de/Help-Needed-High-Contrast-Icon.

@Obsidien What about you, would you consider contributing an icon?

[2015-02-13 20:12] lwindolf commented on #87
@DanMan: Do you mean the following scenario?

1.) Open webpage in internal browser that has a relative feed link in it
2.) Right click on link to subscribe

[2015-02-13 20:21] Obsidien commented on #148
[3.15.3, sorry… well, the devel version]

The simpler way is probably to copy an RSS icon in black & white following the guidelines (big lines and white border). Not so difficult to do, I might (!) have a look after GNOME code freeze (next Monday).

[2015-02-13 21:09] lwindolf commented on #144
In 1.11 we already have

    div.content * img, video {
        border:0;
        margin:2px;
        max-width:100%;
        height:auto;
    }

could you test if this solves your issue (by adding it to ~/.config/liferea/liferea.css)?

If it works I'd just backport it.

[2015-02-14 11:01] openhs opened #150 "Gwget is not started automatically"
1. Set gwget as program to download enclosures.
2. Right-click on an enclosure in Liferea and select "Save As"
   => Observe that nothing happens.

User has to start Gwget manually before attempting to download an enclosure in Liferea.  KGet is started automatically.

The other report for this issue (#105), which I wrote was closed due to suspicion of incorrect configuration in my system.  I have

[2015-02-14 11:40] DanMan commented on #87
No, I meant adding a new feed via the usual dialog, providing a URL to a HTML page with a link element in it pointing to the actual feed.

[2015-02-14 14:04] stevanov commented on #148
Gave it a quick shot in GIMP just now.
![Example High Contrast Logo](http://stevenkramer.nl/lifereahc.png)
I think it works pretty well in high contrast.

[2015-02-14 15:49] hfiguiere commented on #144
This works for the case I made the fix. Better as it as 100% instead of a fixed pixel width.

[2015-02-14 15:55] Obsidien commented on #148
Just tested, lines are too thin for a good readability / accessibility, that are the goals of this theme. The earth motif should probably disappear if you go in that direction, and “NEWS” should probably take all the length of the icon (and I’m not sure it would be big enough, but I didn’t try). But I think a more “simple” symbol should be chosen, like a big RSS icon.

[2015-02-14 16:32] stevanov commented on #148
I'll be honest in that i did not bother trying it myself... Just tried and you're right, there isn't a lot left too see when you resize it to 48x48. The alternative is a bit boring but it is universally recognizable. I tried to keep the lines on this one a bit more like other High Contrast icons.
![RSS](https://dl.dropboxusercontent.com/u/3879064/lifereahc2.png)
I also attempted to incorporate the

[2015-02-15 22:58] lwindolf commented on #87
I see, I understand your use case now.

The current tag soup parsing for extracting <link> tags doesn't try to get <base> tags at all. And so far it was not necessary, IIRC this is the first report about this being an issue.

[2015-02-16 16:24] zloster opened #152 "v1.11.3 craches when updating all feeds"
I use Ubuntu 12.04. The code is compiled from the source tarball available here: https://github.com/lwindolf/liferea/releases/download/v1.11.3/liferea-1.11.3.tar.bz2 Here is the bt trace I gathered:
[code]
I observe the crashes in two cases:
1. The program is configured to update the feeds on start -> will crash;
2. I manually trigger the feeds update via the menu 'Subscriptions->Update all' -> wi

[2015-02-16 17:45] lwindolf commented on #79
Fixed. Please test the implementation in git master.

[2015-02-19 19:42] lwindolf commented on #148
@all: Thanks for responding to the call for help and the work!!!

@Obsidien Now you need to decide on an icon solution :-)

[2015-02-20 16:32] jcamposz opened #154 "liferea 11.1.3 crashes while starting"
Liferea crashes while starting on ubuntu 14.10 x86_64.
Liferea generates a core file:
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
El núcleo se generó por «liferea».
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007f72f9ecaef2 in ?? () from /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
(gdb) bt
#0  0x00007f72f9ecaef2 in ?? () from /usr/lib/x86_64

[2015-02-21 10:08] gonenc96 opened #155 "Rendering Latex or Mathjax"
I noticed that Liferea does not render Latex equations, which results in a messy text when reading a mathematical rss-feed. Is it possible to work around this problem or has the latex-feature already been implemented and I am missing it?

[2015-02-21 21:36] lwindolf commented on #155
Liferea use WebkitGtk to render HTML and websites. AFAIK WebkitGtk supports MathML, which can be used to render math equations. I don't think any render engine natively supports Latex/Mathjax.

Can you paste an example snippet or even a feed URL?
Can you test the same page with the Epiphany browser (because it also uses WebkitGtk)?
Can you check if plugins are enabled in Liferea preferences (and r

[2015-02-22 11:13] gonenc96 commented on #155
The url of the feed is http://physics.stackexchange.com/feeds. And I think that I have described my problem in an ambiguous way. What I try to say was that I cannot see the formulas in the Liferea main screen. (the screen, where I can also see the headlines)(s. screenshot1). However everything is fine when I open the browser of Liferea(s. screenshot2). BTW if the feature that I describe, namely re

[2015-02-22 11:55] asl97 commented on #155
it's not that github disallow feature request, it's just this project.

in any case, MathJax is a JavaScript display engine and [JavaScript is disable for security reason](https://github.com/lwindolf/liferea/issues/116#issuecomment-64276201)

[2015-02-23 04:06] asl97 commented on #106
i know this issue is old but i thought of another solution,  just mark liferea's window with `always on top`

[2015-02-23 17:17] lwindolf commented on #154
Reproduced. This is an issue on corrupted favicons.

[2015-02-23 17:19] lwindolf commented on #154
Fixed in git master with 31402cb0068820b89488918d8bf78f8858d230b9. Please retest!

[2015-02-23 17:23] lwindolf commented on #106
@asl97 It would solve the bug and at the same time cause uproar with a lot of users suddenly having an unwanted behaviour.

It doesn't matter though as the bug is fixed now.

[2015-02-23 17:26] lwindolf commented on #154
Merged for 1.10 too

[2015-02-23 17:26] #144 closed

[2015-02-23 17:42] asl97 commented on #106
@lwindolf i mean it as an advice for @noflag.

[2015-02-24 07:33] noflag commented on #106
thanks, can't believe i didn't think of this

[2015-02-24 21:32] lwindolf commented on #155
@asl97 Thanks for the analysis.

@gonenc96 AFAIK using MathML in the feed (or rendered images) is the only realistic way to add formulas to news feeds. Maybe asking the feed author to provide only MathML formulas would help...

[2015-02-24 21:32] #155 closed

[2015-02-24 22:04] lwindolf commented on #142
Hello,

Liferea doesn't support libappindicator.

If you want you could try using libappindicator from Python and implement support similar to the current GtkStatusIcon based trayicon in git master.

[2015-02-24 22:04] #142 closed

[2015-02-24 22:06] lwindolf commented on #152
Caused by broken favicons. Fixed in git master with 31402cb. Please retest!

Fix will be released with 1.11.4 and 1.10.14

[2015-02-24 22:06] #152 closed

[2015-02-24 22:07] lwindolf commented on #143
I totally understand the motivation for this feature. Still I do not have the time to work on it. Please consider contributing this feature!

[2015-02-24 22:07] #143 closed

[2015-02-24 22:08] lwindolf commented on #146
Thanks for suggesting the feature. Still no time to implement it. Please consider contributing an implementation!

[2015-02-24 22:08] #146 closed

[2015-02-24 22:09] #131 closed

[2015-02-24 22:09] #129 closed

[2015-02-24 22:10] #118 closed

[2015-02-24 22:11] #72 closed

[2015-02-24 22:13] lwindolf commented on #75
I believe right now git master has a stable reproducible behaviour (especially after the fix for #48).

I think this issue (even when using the trayicon plugin) is fixed now. Please retest!

[2015-02-24 22:16] lwindolf commented on #35
Did you try using the root node of the source for reading? Because with "hide read items" activated it behaves exactly like this. If you additionally group all other subscriptions into a folder you can read all other (non-source) items the same way.

As this is already possible using folders / the source root node + "hide read items" I think we should not add an additional ssearch folder rule.

[2015-02-24 22:16] #35 closed

[2015-02-24 22:18] lwindolf commented on #42
I can sometimes reproduce this. But found nothing conclusive yet.

[2015-02-25 07:41] jcamposz commented on #154
I don't know whether it is the same error but now I obtain the following error:
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007f2549ae2ef2 in ?? ()
   from /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
b(gdb) bt
#0  0x00007f2549ae2ef2 in ?? ()
   from /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
#1  0x00007f254aeff6f6 in ?? () from /usr/lib/x86_64-linux-gnu/libgtk-3.so.0
#

[2015-02-25 07:58] jochenberger commented on #35
I like to keep "hide read items" disabled, so it's not a complete solution, but I guess I can live with it the way it is. Maybe "hide read items" could be added to the toolbar or the menu and assigned a shortcut? Should I open another issue for that?

[2015-02-25 16:19] lwindolf commented on #154
This is the same error as gtk_tree_store_set() is involved.

[2015-02-25 19:23] GreenLunar commented on #79
Not good.  Placement is incorrect.

Buttons are not RTL adaptable. See File Roller, Midori etc.

**Even better, instead of using left/right arrows, use up/down (see Evince or Qupzilla search bar).**

[2015-02-25 19:47] GreenLunar commented on #75
Better, but not good yet.

Bug:
* Minimize to taskbat
* Click on tray icon (appear)
* Click on tray icon (appear, still)

Note:
* Minimize to taskbat
* Restore from taskbat
* Click on tray icon (appear)
* Click on tray icon (hidden, good)

[2015-02-25 20:09] jcamposz commented on #154
Only for clarification, this error occurs after updating and building from git.

[2015-02-26 12:41] asl97 commented on #28
it look great at first but i don't like it because the reason i use wide mode is because i want to be able to see a large amount of feed at any one time.
i have a group of feed which sometimes has overlapping feed item (duplicate) and liferea is smart enough to mark the item as read in all the feed.

this reduce the number of visible feed from 24(.5) to a mere 6+ due to ridiculously long feed titl

[2015-02-26 16:27] lwindolf commented on #75
Thanks for retesting. I would leave it at this for now. The plugin is usable, even if it is not perfect.

The idea of switching to plugins is to engage users in extending/improving Liferea. Maybe someone will improve the trayicon plugin?

[2015-02-26 16:27] #75 closed

[2015-02-26 16:31] lwindolf commented on #154
@jcamposz Can you please drop (or move the contents of) your favicon folder?

   rm ~/.cache/liferea/favicons/*

Does the crash reoccur on first startup after cleaning the favicons?
And does it reappear after the second startup (after updating all favicons)?

[2015-02-26 16:35] lwindolf commented on #79
@GreenLunar Thanks for the hint on Roller/Midori. I'll have a look at them.

[2015-02-26 16:36] lwindolf commented on #35
@jochenberger No feature requests please!

[2015-02-26 19:35] jcamposz commented on #154
Don't worry. I have recompiled the code with 'make clean' and now I don't have problems on starting. Thanks.

[2015-02-26 20:32] lwindolf commented on #154
Awesome! Then the fix seems to work.

[2015-02-26 20:32] #154 closed

[2015-02-26 20:47] GreenLunar commented on #79
I thought you were headed towards examining applications like these, when I read this "But I saw other GNOME applications do it, so it is probably common to implement it.".

[2015-02-26 20:49] lwindolf commented on #79
Yeah I actually was checking code rather than inspecting GUIs and searching for text direction switching and found examples doing it. Maybe I misunderstood them.

[2015-02-27 07:52] jochenberger commented on #35
Err, alright, thanks.

[2015-02-27 21:58] paulgevers opened #156 "Italian translation: orthography error in preferences"
Reported in Debian [1] : typo in the Italian translation

"Abilitare plugin del broser" is wrong, "broser" should be "browser".

Confirmed in 1.10.14 release.

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=776056

[2015-02-27 22:33] lwindolf commented on #156
Am 27.02.2015 um 22:58 schrieb paulgevers:

Thank you for the hint fixed for 1.10.15 and 1.11.4.

Cheers,
Lars

[2015-02-27 22:36] #156 closed

[2015-02-28 15:40] lwindolf commented on #30
Sorry, should have worked on this sooner. I somehow overlooked the issue. I added a similar fix as you suggested. Thanks for the detailed debugging!

[2015-02-28 15:40] #30 closed

[2015-02-28 15:44] lwindolf commented on #110
Judging from the backtrace I believe there is nothing Liferea can do differently. The API invocation in frame 29 is webkit_web_frame_load_data() which just passes HTML to Webkit. No controlling of SSL connection behaviour :-(

[2015-02-28 15:44] #110 closed

[2015-02-28 16:10] lwindolf commented on #41
I believe the behaviour in git master has now improved mostly because subscribing into TinyTinyRSS is possible. So the button doesn't get disabled. All currently supported online sources allow subscribing. So I think the issue is solved.

Please retest with git master or 1.11.3

[2015-02-28 16:10] #41 closed

[2015-03-02 07:20] macias opened #158 "Pane placement is forgotten"
I have 3 panes, list of all RSS feeds taking 50% of the space on the left, list of topics for given RSS feed taking 50% of top from what was left on the right, and article taking remaining 50% on right.

Hover on each run of Liferea it drops those pane placement/sizes and resets it to 50%, 1 line, the rest accordingly. So each time I run Liferea I have to manualy restore the pane sizes.

Please, s

[2015-03-02 07:27] asl97 commented on #158
http://lzone.de/liferea/faq.htm#feature-x

[2015-03-03 11:43] filorin commented on #121
In fact, this problem is because a "normal" space symbol was used. In french, we should use the "non breaking space", a special character to prevent word splitting. I'm trying to work on it in order to solve other problems like this caused by the French Translation. I already updated French Translation but it seems it does not change the problem (after compiling it on my own machine). If I find a

[2015-03-07 19:39] gatlinnewhouse opened #160 "Liferea force closes when I search all feeds"
I search all feeds, it loads the items and then just closes. I'm on 64bit Arch Linux.

[2015-03-07 19:46] gatlinnewhouse commented on #160
I found a way around it, I can search something and make it a new folder then rebuild the search then I can access the articles without it force closing on me.

[2015-03-07 19:55] testguyct opened #161 "Scrollbar functionality change ?"
If I recall correctly, Liferea used to incrementally move the scrollbar in the upper headline pane no matter where on the scrollbar "track" the mouse is clicked.  It seems that now, the scrollbar moves the full distance to the position where the mouse was clicked. For example, in the current functionality, if the mouse is clicked on the very bottom of the scrollbar track, the scrollbar will move a

[2015-03-07 19:58] asl97 commented on #161
iirc, it was cause gtk changes, nothing we can do about it, use right click instead.

[2015-03-07 19:59] testguyct commented on #161
Ah, thanks. That works.

[2015-03-07 19:59] #161 closed

[2015-03-07 20:02] asl97 commented on #160
if you mean the feed list clear itself when you click the close button, iirc, it suppose to do that, although some might call it a bad design.

if you mean it just crash, it didn't crash for me and you didn't tell us what the error it threw, there is really nothing we can do about it unless you tell us the error.

[2015-03-07 20:18] asl97 commented on #161
just letting you know, it also effect other gtk app like gedit, try using right click if left click just move the scroll bar to where the mouse is pointing.

to be honest, it is a good change, sometimes the scroll bar is so small that it is hard to click and drag it, so they move the `page by page` to the right click and you can left click anywhere to do the `click and drag`.

[2015-03-08 00:57] gatlinnewhouse commented on #160
How do I find out the error it threw? What happens is I search, the whole program crashes, and I get no error messages.

[2015-03-08 08:38] asl97 commented on #160
read the [README](https://github.com/lwindolf/liferea) on the front page on this repo
under Debugging Crashes

[2015-03-09 17:49] gatlinnewhouse commented on #160
Liferea didn't crash after searching but it froze. Here's what gdb said:

(gdb) run
Starting program: /usr/bin/liferea
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".

** (liferea:1758): WARNING **: Couldn't register with accessibility bus: Did not receive a reply. Possible causes include: the remote application did not send a reply, the

[2015-03-09 19:41] asl97 commented on #160
`** (liferea:1758): WARNING **: Unexpected status on SQL execution: 11 (database disk image is malformed)`
seem like the database is corrupted but idk, i suggest waiting for a reply from @lwindolf

[2015-03-09 20:48] lwindolf commented on #160
This message indicates an unrecoverable sqlite file corruption. To recover from it remove the item database ~/.local/share/liferea or restore it from your backup.

[2015-03-09 21:16] gatlinnewhouse commented on #160
@lwindolf after removing the database do I restore it?

[2015-03-09 21:27] lwindolf commented on #160
Correct. Just place a backup in the same place.

[2015-03-09 22:00] gatlinnewhouse commented on #160
@lwindolf After removing the database should I run liferea and then restore the database, or should I restore the database before running liferea again?

[2015-03-09 22:10] lwindolf commented on #160
@gatlinnewhouse: Please shut down Liferea, remove the file, replace it with your backup and start Liferea again. If you do not have a backup just start Liferea it will create an empty database automatically.

[2015-03-09 22:30] gatlinnewhouse commented on #160
I did so and then searched all feeds and it crashed. So I ran another gdb instance and go this:

(gdb) run
Starting program: /usr/bin/liferea
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".

** (liferea:1187): WARNING **: Couldn't register with accessibility bus: Did not receive a reply. Possible causes include: the remote application did

[2015-03-09 22:33] gatlinnewhouse commented on #160
Tried it a third time and got this:

(gdb) run
Starting program: /usr/bin/liferea
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".

** (liferea:1575): WARNING **: Couldn't register with accessibility bus: Did not receive a reply. Possible causes include: the remote application did not send a reply, the message bus security policy blocked t

[2015-03-12 17:15] lwindolf commented on #148
Fixed with merge of PR #159

[2015-03-12 17:15] #148 closed

[2015-03-15 14:00] onpon4 opened #164 "Don't load images automatically"
Liferea acts like a Web browser in that it automatically loads any external images automatically. I'm not fond of this behavior. It means that if I look at an entry that embeds an image link, as is the case for the xkcd feed, for example, the owners of the servers sending me the images are essentially automatically notified of when I checked my feed reader. I'm sure most servers aren't set up to t

[2015-03-22 18:23] GreenLunar opened #165 "[Plugin Request] Feed Builder/Scrapper"
A plugin to scrap pages into feeds instead of using site-specific scripts provided at https://kiza.eu/software/snownews/snowscripts/

See also http://createfeed.fivefilters.org/
* Look for links inside HTML elements whose id or class attribute contains:
[e.g. entry-title]
* Only keep links if link URL contains:
[e.g. /article/]

[2015-03-22 18:32] GreenLunar opened #166 "[Feature Request] Recursive Poperties Dialog (Folder)"
Usability.

I would like to have a Recursive Properties Dialog for folders.
There is a website with advertisement entries which I am subscribed to in Liferea, and a script that filters advertisements entries. I have over 30 subscriptions of this website.
Instead of opening Properties Dialog for 30 times, I would like to open a Recursive Properties Dialog that would apply the same properties to all

[2015-03-23 20:41] lwindolf commented on #166
Please contribute the feature!!!

[2015-03-24 18:57] GreenLunar commented on #131
@mitechie, please provide an example bookmark URL of Bookie. I have tried to register an account and failed several times.

[2015-03-27 12:41] GreenLunar opened #167 "Unable to load plugins (not a bug)"
This is **not** a bug in Liferea.  I have a problem in my system, but I do not know where.
I have another computer with the same OS with similar installation and plugins load
 well.
[code]

[2015-04-04 17:17] redneb opened #171 "liferea forgets the time of last update when the program is closed"
Suppose that the "update all subscriptions at startup" setting is disabled and that I add a feed that I request to be updated say every 24 hours. Then I close liferea 23 hours after an update has occurred and I reopen it immediately. Then, the feed will be updated after 24 hours and not after 1 hour.

It would be nice if liferea remembered the time of last update and used that time to determine wh

[2015-04-08 10:45] PodCol opened #172 "[Feature request] Make liferea compatible with FreshRSS Google Reader based API"
FreshRSS is a self-hostable RSS agregator that tries to be lightweight. It is quite popular, at least in the french community. See https://github.com/FreshRSS/FreshRSS

FreshRSS tries to implement a Google Reader based API. See https://github.com/FreshRSS/FreshRSS/issues/443 and https://github.com/FreshRSS/FreshRSS/blob/beta/p/api/greader.php

[2015-04-12 10:50] gusnan commented on #32
I have the same problem, but when right-clicking the channel name and aim for Update Folder, I some times (too often) by mistake hit the "Mark All as Read" menu item just below. Either moving the "Mark All as read" item, or as Mno-hime mentioned, making a confirmation dialog on the "Mark all as read item" would solve the problem.

[2015-04-14 00:15] awgneo opened #173 "Where can we donate?"
This app is amazing and I want to help support your efforts! You should put up a donation link ;)

[2015-04-14 18:07] cesar-rickinho opened #175 "Combined view not showing media files"
While using the combined view option I couldn't see the media items that the news had.

I was able to see the media items on the other views, and play them.

Using openSUSE Tumbleweed and Liferea Version 1.10.14.

![captura de tela de 2015-04-14 14-42-40](https://cloud.githubusercontent.com/assets/11948362/7143785/b0a5e5ac-e2b7-11e4-9044-30fa6b711aae.png)
![captura de tela de 2015-04-14 14-42-27](

[2015-04-14 20:52] lwindolf commented on #87
@mozbugbox implemented a solution with #174

[2015-04-14 20:55] #87 closed

[2015-04-15 16:55] jurf opened #176 "Any plans to switch to GTK3 Header Bars?"
It would save a lot of screen space and give a Liferea a fresh new look.

Anyway, just an idea.

[2015-04-15 17:01] DoctorJellyface opened #177 "Corrupted tray icon under GNOME 3.16"
Right now it looks like this:
![snimka obrazovky z 2015-04-15 19-00-53](https://cloud.githubusercontent.com/assets/7472425/7164635/ca9c4c5e-e3a1-11e4-9b9e-075f971c697d.png)

[2015-04-15 19:12] lwindolf commented on #176
We will probably migrate some day. Just found no time to convert the code. I estimate it needs a lot of reorganization.

[2015-04-16 13:48] DoctorJellyface commented on #176
Great, thanks!

[2015-04-16 18:59] lwindolf commented on #32
As a first solution I moved the menu option in the popup menu. Depending on the menu composition (as some items are optional according to the node type selected) the "Mark All Read" option is now in the middle. As in minimalistic menus (read-only sources) "Update" might still be above "Mark All Read" I additionally added a menu separator.

As for the hotkey I also fall victim for it from time to t

[2015-04-16 19:18] gusnan commented on #32
Excellent! - I just compiled the git version, and it looks like a good solution for my menu problems. Much appreciated!

[2015-04-17 18:24] lwindolf commented on #135
Done with #178

[2015-04-17 18:24] #135 closed

[2015-04-17 18:25] lwindolf commented on #107
This was implemented with #178

[2015-04-17 18:25] #107 closed

[2015-04-19 03:47] mozbugbox commented on #113
From the code in `update.c`, it seems that all the update jobs are started _almost_ at the same time in the `update_dequeue_job()` call. It could cause inserting too much feed items at the same time without give the main loop a break, if soup queue message return data of different requests all at the same time.

The `update_dequeue_job()` returns `TRUE`. The intent is to have next update job calle

[2015-04-19 16:14] nekohayo commented on #113
Just wanted to say this: cool analysis, @mozbugbox — it's great that you've taken the time to investigate this! (could it be that you're working on a patch for this? :)

[2015-04-19 18:22] GreenLunar commented on #165
Please open a new repository for plugins (e.g. liferea-plugins) or add a new label (like bug, enhancement, help-wanted) called plugin, for issues that plugin may be the most appropriate way to solve them.

[2015-04-19 20:47] lwindolf commented on #165
Done.

Personally for this type of request I believe a GIR plugin does not work

[2015-04-20 03:43] mozbugbox commented on #113
The freeze is not obvious on my machine. Maybe I don't have too much feed subscriptions. Or I am used to slow UI reaction. The UI feels jerky when update all but not really freeze for too long.

And on further looking, it seems that the heavey lifting part of `update_process_finished_job()` are already put into an idle handler in `update_process_result_idle_cb()`.

The heavy lifting part, my guess

[2015-04-20 07:48] GreenLunar commented on #167
Please help me to solve this problem.

[2015-04-20 07:50] GreenLunar commented on #165
What is GIR?

[2015-04-20 13:46] DoctorJellyface commented on #177
Also, it seems to draw the icon over itself a couple of times, if Liferea is open for some while.
![snimka obrazovky z 2015-04-20 15-45-50](https://cloud.githubusercontent.com/assets/7472425/7231212/5f052fe8-e774-11e4-90b5-2b31667857bc.png)

[2015-04-20 14:36] mozbugbox commented on #113
Upon further profiling :), it seems that most of the time are spent on, again, database upate, i.e. writing to the disk is slow.

I've come up a hack to batch sqlite operations into transaction. The data still have to be written to the disk at the end, but the time spent cut to ~half. The hack is at: mozbugbox@94bba79d2391cf66bab64e13132d315c5d67a59f

The code is not very clean. The place where th

[2015-04-20 18:46] lwindolf commented on #167
My suggestion would be to compare the installed gir* packages. On Debian list them with

    dpkg -l gir*

and make sure the same are installed on both systems.

[2015-04-20 18:51] lwindolf commented on #165
GIR is probably the wrong abbreviation. I think GI would be more correct. Please have a look at https://wiki.gnome.org/Projects/GObjectIntrospection

[2015-04-20 18:51] #165 closed

[2015-04-20 19:07] lwindolf commented on #113
@mozbugbox Thanks for investing so much time for analysis. This helps a lot. I agree that the "return TRUE" in update_dequeue_job() is causing cascading updates. I changed it to "return FALSE" in 1.10 and master branch. While I still experience freezing this already improves the situation.

In general there was a significant behaviour change around GNOME 3.14 that caused Liferea update fine-tuning

[2015-04-20 21:37] lwindolf commented on #171
The behaviour you described was implemented in earlier versions of Liferea. As Liferea writes feed states synchronously to the database this caused huge delays on startup for power users (use cases of up to 1000 feeds) while providing close to no benefit to other users.

Given to all the garbage loaded when viewing a feed (ads, tracking pixels, logos) I consider a single feed fetch (probably serve

[2015-04-20 21:37] #171 closed

[2015-04-20 21:41] lwindolf commented on #85
I know of no other reports so far of this issue.

[2015-04-20 22:22] GreenLunar commented on #167
Command `spkg -l gir*` did not return anything, since GObject packages are named by their full name (e.g. pygobject).

On Slackware, I have had to install http://slackbuilds.org/repository/14.1/python/pygobject3/?search=pygobject

Plugins are working, now.

Thank you.

[2015-04-20 22:25] GreenLunar commented on #166
I think this feature is a must and this issue should remain open and be marked under help-wanted.

[2015-04-20 22:35] GreenLunar commented on #165
Done a label or a repository?

[2015-04-21 00:52] mozbugbox commented on #113
I think I found the actual bug that cause each update always write to the db for items marked as read.

At each update, downloaded items are always gone throught the `itemset.c -> itemset_merge_items() -> itemset_merge_item() -> itemset_generic_merge_check()`. The code in `itemset_generic_merge_check()` cause constant update on readed items. At line 120 of itemset.c,
[code]
This piece of code will

[2015-04-21 12:03] rich-coe commented on #113
I've disabled these two if checks in my own branch of liferea.   These two lines were responsible for marking already read items back to unread.   I'm not sure how often they cause already stored items to be updated though.  I suppose it depends on the number of feeds that had this issue.

The following code marks the reason for re-inserting the item as unread.  You can do something similar to see

[2015-04-21 17:51] redneb commented on #171
Hi, thanks for the reply. Could you help me understand why this feature caused huge delays on startup? The way I see it, this can be implemented without requiring any additional writes. Specifically, every time the user manually initiates an update of a feed, liferea would record the current time. This would not incur an necessarily additional write: the current time could be stored in liferea.db,

[2015-04-21 18:49] lwindolf commented on #113
Argh... How I hate the itemset merging. That's the worst and unmaintainable code in Liferea. The bug @mozbugbox pointed out was introduced by a change to make 2-way item state changes work for online new reader accounts. Since then the performance degradation must have been in place. So much for my blaming of GNOME 3.16...

@rich-coe using reason flags to make the code more transparent is a good i

[2015-04-22 01:34] mozbugbox commented on #113
Mabye a new flag in itemPtr to indicate where the newItem are from. Then the check for readStatus and flagStatus can be skippped for simple feed update.

[2015-04-22 01:39] mozbugbox commented on #113
And should the checking for title/description be done **after** the item_get_id() check? And only needed if equal is TRUE after the item_get_id() test.

[2015-04-22 14:42] #167 closed

[2015-04-22 14:54] GreenLunar commented on #166
@mozbugbox, does this issue matters to you enough to write a patch to solve it?

I apologies for this direct approach of me to you.

[2015-04-22 15:03] mozbugbox commented on #166
I was actually thinking to write a plugin to batch changing feed properties sometime.

[2015-04-23 12:25] mozbugbox commented on #166
I've taken a closer look at doing this as a plugin. It's not really possible with the current python binding. The nodePtr, Subscription, updateOptions and a few other `struct` are not really GObject and cannot be freely access from the python side with gobject introspection.

[2015-04-23 19:44] marceloslacerda opened #179 "liferea: poor error reporting for "command" sourced feeds"
Bug upstreamed from debian bts:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=779967

Liferea 1.10.12

When feeds generated by a command fail to produce a working feed, the
error messages are both misleading and useless. Pretty much no matter
what the problem is, it outputs:

(Strangely, that error even sometimes included saying that it got an
HTTP 404 which makes no sense for a local resource

[2015-04-24 10:27] GreenLunar commented on #166
How difficult would it be to add this feature built-in (in C language) to Liferea?

In concern to UI:
 **Feed Name** should be **Folder Name**.
 **Feed Source** section should not be.
 Anything else remains as is.

[2015-04-24 14:28] GreenLunar opened #180 "Removing an item from search folder "Unread" marks all (unread) items as read"
Removing an item from search folder "Unread" marks all unread items (or all items) as read.

* Select search folder "Unread".
* Select an item.
* Remove an item using item context menu (right-click).

Using
Liferea 1.11.4
Salix OS 14.1

[2015-04-24 16:50] lwindolf commented on #180
Reproduced

[2015-04-24 19:09] lwindolf commented on #180
Affects 1.10 also. Fixed in both 1.10 branch and master.

[2015-04-24 19:09] #180 closed

[2015-04-24 19:10] lwindolf commented on #179
I agree the error handling is not helping much at all. Simply displaying "There was an error" is almost as informative. This surely warrants a refactoring of the code.

[2015-04-24 19:12] lwindolf commented on #173
@awgneo Hi! No need to donate. Happy users are motivation enough :-)

[2015-04-24 19:12] #173 closed

[2015-04-24 19:13] lwindolf commented on #172
I understand the wish, still there are so many online services it is impossible to support them all.

[2015-04-24 19:13] #172 closed

[2015-04-24 19:14] #115 closed

[2015-04-24 19:16] lwindolf commented on #166
I guess the preferences dialog code would have to be refactored to be modular and the response callback to work with multiple targets.

A similar problem affects the node sources who actually share some preferences with feeds, but those cannot be changed right now, because the dialog cannot be shown "reduced".

[2015-04-24 19:18] lwindolf commented on #165
Label

[2015-04-24 20:05] lwindolf commented on #113
@rich-coe I added some more mitigation by preventing state updates causing normal (non-remote) feeds with a2cc35e

[2015-04-24 20:06] lwindolf commented on #113
@mozbugbox Next I'll investigate how to change the remote source implementation to set alternative and exclusive flags to use in merging as suggested by you.

[2015-04-25 07:24] GreenLunar commented on #165
PThen please label this issue.

[2015-04-25 07:25] GreenLunar commented on #165
Please label this issue.

[2015-04-25 11:22] GreenLunar commented on #180
Perhaps user should not be able to remove items from a Search Folder.

[2015-04-25 14:41] mozbugbox commented on #166
It's harder than it sound because a few things have to be done differently. On the other hands, a lot of idea can be copied.

Anyway, I took a stab on it and the result is at mozbugbox/liferea@be55ab06817407f6e29eeff4937d949c1fb319b4.

Only limited test were done. Consider the code alpha quality. Could corrupt subscription database, leak memory, crash... The usual suspects. Use it at your own risk

[2015-05-01 09:50] paulgevers opened #182 "[Minor] Inconsistent use of config.h to cause conflicting types"
Forwarded bug from Debian. [ I am not sure if this is still an issue, but better safe than sorry ]
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=749900

Reported against Liferea Version 1.10.8

During a rebuild of all Debian packages in a clean sid chroot (using cowbuilder and pbuilder) the build failed with the following error. Please note that we use our research compiler tool-chain (using t

[2015-05-02 11:32] GreenLunar commented on #164
I am interested in such ability too.  It would be great when roaming with a limited cellular plan.
`/Tools/Preferences/Browser/Load images automatically`
Right-click on image, select `Load Image` to load an image.

[2015-05-05 07:43] odrevet opened #184 "media player: pause media"
When a media (e.g. mp3) is attached to a feed item, it can be played with a media player but there is no pause button (the play button change to a stop button)

[2015-05-05 14:57] asl97 commented on #171
@redneb you have describe different things in your two posts, both slightly contradicting each other cause they didn't take down time (ie: when liferea isn't open. when the computer is turn off) into account.

1: update (countdown) timer

let's say you didn't use liferea in a million years (ok, maybe not that long but long enough so that every feed need updating), then you open liferea, all the fe

[2015-05-05 15:29] redneb commented on #171
Basically what I would like to see, is to support updating at a fixed time. It used to be possible in the past but not anymore. With everything else I said, I was merely exploring ways this could be implemented without incurring any cost to all users (which is why this was removed in the first place).

I don't have a strong preference about this one. I would be happy as long as it updates everyday

[2015-05-08 06:15] GreenLunar commented on #79
While keeping button labels the same (i.e. Next/Previous Item), you might prefer to set the icons to `Up` and `Down`.  QupZilla (a Qt based web browser) is using `Up` and` Down` in it search bar (Ctrl+F).  In that way, you would not need to be bothered with RTL UI issues, in this concern.

[2015-05-08 06:18] GreenLunar commented on #79
Oops, I have already mentioned it!

I forgot to delete a note on my end to post this comment.

THIS AND PREVIOUS MESSAGES WILL BE DELETED.

[2015-05-08 06:23] GreenLunar commented on #79
Evince is an example for a workaround to be applied with Up and Down icons.

[2015-05-10 12:37] gusnan commented on #176
PLEASE make this optional. For me (and I belive many others who doesn't use Gnome3), the new GTK3 stuff is simply a no-go.

[2015-05-10 13:13] asl97 commented on #176
@gusnan it already recommenced for liferea to be build against gtk3, in fact, gtk3 is listed under mandatory.

https://github.com/lwindolf/liferea#dependencies
https://github.com/lwindolf/liferea#mandatory

also, iirc, there are lesser and lesser distro being ship with Gnome2 and
GTK3 isn't that new anymore (it was release in 2011).

[2015-05-10 13:16] gusnan commented on #176
Does that mean it _requires_ the new style of titlebars?

[2015-05-10 15:03] DoctorJellyface commented on #176
No, but AFAIK client side decorations have support with almost every window manager out there. Wayland even requires CSD.

[2015-05-10 16:41] lwindolf commented on #176
@gusnan In the scope of Liferea (one man project) supporting two variants isn't possible.

[2015-05-10 16:51] gusnan commented on #176
Well, then the logical thing would be to support the alternative that requires the least changes, and not a redesign. But, if a majority want the new stuff, then I'll simply will have to accept it.

[2015-05-10 17:57] lwindolf commented on #176
@gusnan Don't worry GNOME 4 will have even more "new" stuff for sure! ;-)

[2015-05-10 20:54] tilt-me commented on #158
Hi,
maybe I'm facing the same issue: I use the _wide view_ and each time I run Liferea I have to manually restore the pane sizes.
The first one on the left (containing the list of all my RSS feeds) is fine, while I have to restore the width of the middle (topics of selected feed) and right (preview of single article) ones.

Thanks in advance, bye!

[2015-05-12 02:14] dmison opened #186 "Suggestion: move feed sources into plugins"
I think they would be much easier for most people to implement these as plugins in Python than in C (IMHO)

It would also move the development of feed source support outside of the main codebase.  It would be easier then to support more sources without it being a drain on main development.

[2015-05-21 20:56] lwindolf commented on #186
I wholeheartedly do agree!

As always the problem is the history of the code. All non-GObject tightly coupled C-interfaces that cannot be automatically be exposed in GObject Introspection. This currently prevents this really good idea.

There was already one try doing this and we found so many dependencies that cause rewrites in the src/fl_sources/node_source.h interface that we gave up for the mo

[2015-05-22 11:34] GreenLunar opened #187 "[i18n] Plugins are not subjected to language localization"

[2015-05-22 11:58] voidplayer opened #188 "tt-rss feed properties only allows to rename it"
No way to change the url, user, password, etc...

[2015-05-22 12:00] voidplayer opened #189 "allow to change the read/unread view per feed"
right now it can only be done globally

[2015-05-22 12:09] voidplayer opened #190 "dont hide latest articles read until i refresh view"
its very common to misclick one line and then the current one is gone!

Or that you want to go back to a line you just read a few secs ago

You gotta be careful where you click on liferea or you won't even know what line you just hide by accident

I think it would be nicer to mark it as read but only hide it from the view when i click the feed entry again or the refresh button

[2015-05-25 18:52] #184 closed

[2015-05-25 18:53] lwindolf commented on #187
You mean any specific plugins should be translated? Or do you mean that there is no mechanism to translate plugin literals?

[2015-05-25 18:54] lwindolf commented on #85
Closing as won't fix.

[2015-05-25 18:54] #85 closed

[2015-05-29 14:41] gnumdk commented on #176
On demand headerbar is easy, here what i've done in lollypop (python code)
[code]
Most of the work is about redesign app to get ride of menus ;)

[2015-05-30 08:14] GreenLunar commented on #187
There is no mechanism to translate plugin.

Maybe, plugins should be named in form `liferea-pluginame`, so a separate `.mo` be made for each  plugin, in order to make it possible for external Liferea plugins to be available in different locales.

[2015-05-30 08:33] GreenLunar opened #192 "[Media Player] Force LTR (left-to-right) widget direction"
**Problem**
Media Player controllers appear in a wrong order in RTL locales.

`[time] [seek bar] [forward] [play] [backward]`

**Analysis**
In Iran, Pakistan and in any Arab country, there is no physical media player of which controllers are set in this order.

**Solution**
Force LTR (left-to-right) widget direction to achieve a proper order

`[backward] [play] [forward] [seek bar] [time]`

See [g

[2015-05-31 06:15] GreenLunar opened #193 "MimeType=x-scheme-handler/feed;"
Should `x-scheme-handler/feed;` be added to `MimeType` in `liferea.desktop.in`?

[2015-05-31 09:33] k0377 opened #194 "add source popup visually broken"
I'm trying to add my tiny tiny rss as source to liferea. When I go to `Abonnements -> Neue Quelle...` some window pops up, but the list is visually hidden, as I still can tab trough and choose the type with the cursor keys blind.

![bildschirmfoto vom 2015-05-31 11-28-50](https://cloud.githubusercontent.com/assets/1057526/7901449/61bdfcae-0788-11e5-8a51-a2bde6e22c9f.png)

[2015-05-31 13:17] brian-in-crawford opened #195 "No way to select a default download location"
This is with version 1.10.12 of Liferea as available from the Debian Jessie repositories. The help file specifically mentions that it may be useful to set a default download directory if you're using Liferea to collect podcasts, and that's exactly what I want to do. It worked just fine with the version of Liferea which used wget and was in the Debian Wheezy repositories, but in version 1.10.12, wh

[2015-06-01 14:02] mozbugbox commented on #78
in [src/ui/feed_list_view.c, line 277](https://github.com/lwindolf/liferea/blob/master/src/ui/feed_list_view.c#L276-L277), try change the value `GTK_TREE_VIEW_COLUMN_AUTOSIZE` to `GTK_TREE_VIEW_COLUMN_GROW_ONLY`. That might help.

[code]
Use grow only instead of auto sizing for count column width.

[2015-06-03 08:29] Yenya opened #197 "Disable overlay scrollbar"
I have just upgraded to Fedora 22 (liferea 1.10.15), and now the left column of the liferea window (the list of feeds) has its scrollbar autohiding, This means that as soon as I move the cursor to this column, the scrollbar appears and covers the rightmost area of the column with the numbers of unread items for each feed. It is extremely annoying.

I run XFCE and the Clearlooks-Phenix GTK3 theme,

[2015-06-03 10:26] asl97 commented on #197
screenshot always helps

[2015-06-03 15:25] Yenya commented on #197
Here you are.

![liferea](https://cloud.githubusercontent.com/assets/1055951/7963925/7a5680e4-0a15-11e5-955e-f10a6fc9be9e.png)

[2015-06-03 21:51] lwindolf commented on #78
@GreenLunar Could you test the suggestion from @mozbugbox ?

[2015-06-04 06:08] GreenLunar commented on #78
Yes.  Please, post here a patch and I will test it with latest git master.

[2015-06-05 12:59] mozbugbox commented on #78
Patch: https://gist.github.com/mozbugbox/4e38cb57f28aac801706

[2015-06-05 14:10] GreenLunar commented on #78
[code]

II will try this patch against Liferea Unstable 1.11.4

[2015-06-05 14:23] GreenLunar commented on #78
This patch appears to be working as stated. I will finally confirm whether it does, within several hours or tomorrow.

Thank you, @mozbugbox.

[2015-06-05 14:43] GreenLunar opened #198 "[Popup Notifications] Traceback"
While updating feeds:
[code]

[code]

[2015-06-05 15:34] GreenLunar commented on #197
OFF TOPIC (this post will be deleted)

@Yenya

RE: http://www.fi.muni.cz/~kas/blog/index.cgi/computers/desktops/gnome-only-apps.writeback

Atril as document viewer
Engrampa as archive manager
Eye of MATE as graphics viewer

For more, see links below:
http://mate-desktop.org/
https://github.com/mate-desktop/
https://wiki.archlinux.org/index.php/MATE

[2015-06-05 16:05] GreenLunar commented on #78
It appears to be working as expected.

@mozbugbox, please push this change.

[2015-06-05 16:12] GreenLunar commented on #180
It occurs also when on view of items from several feeds (by selecting a folder) are listed.

[2015-06-05 22:40] asl97 commented on #78
@GreenLunar you are `@mention`-ing the wrong person.
iirc only @lwindolf has push access.

[2015-06-06 02:27] GreenLunar commented on #78
I am sorry.  I meant to send pull request.

[2015-06-06 12:12] Mno-hime opened #199 "Add Pocket support"
Since Firefox 38.0.5 added Pocket support (https://getpocket.com/) I thought of using it. Having it integrated with Liferea's Bookmarks would be helpful.

[2015-06-09 22:20] tpo commented on #176
FWIW - I also wouldn't welcome the GTK3 header bars, because:

1) at least my window manager (XFce4) - why I don't know - is unable to handle them properly handle GTK3 header bars, that is:

1.a) I can't move the new style GTK3 header bar applications to the top of the screen, XFce apparently thinks they are larger than they really are and so I can't move them out of "the middle of the screen" des

[2015-06-09 22:29] tpo opened #200 "After closing the search window results just disapear - please leave them there"
So here's what I do:

I'm displaying some RSS feed. I press CTRL-F to search some posting, the search pop-up appears in the middle of the screen/window, I type in the search sting and type Return. The postings window at the top gets empty and results start appearing.

Wanting to read one of the postings I close the search pop-up to be able to click on the wanted postingm but - at the moment I clos

[2015-06-09 23:27] asl97 commented on #200
i agree too but:
http://lzone.de/liferea/faq.htm#feature-x

[2015-06-09 23:29] asl97 commented on #176
1a: use alt-click-drag to move
1b: are you sure it isn't the Window tiling mode?
1b: it does that when it is maximized when you move it
1b: it could also be just the app and not gtk3
2: just use alt-click-drag and move it off screen

[2015-06-10 03:39] DoctorJellyface commented on #176
AFAIK Xfce 4.12 [has perfect](http://blog.alteroot.org/articles/2015-02-19/new-from-xfce-part-3.html) for CSD, window manager, theming and all.

Also, header bars are a replacement for the title, menu and tool bars, so in the end it's IMHO much thinner.

[2015-06-15 18:48] paulgevers opened #201 "crash (SIGSEGV) on shutdown"
Hi,

This crash was reported in the Debian tracker for liferea 1.10.15:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=788666

Does it make sense to you?

Original report:
I had a crash and core dump when shutting down liferea:

[code]

[2015-06-18 19:11] erness commented on #106
set browser.tabs.loadDivertedInBackground to true in about:config

[2015-06-18 20:38] foresto commented on #140
This is a regression. I never ran into this problem until a year or two ago, when a new OS release upgraded liferea to a new version. I think I was using version 1.8 before that.

[2015-06-18 20:39] foresto commented on #158
This is a regression. I never ran into this problem until a year or two ago, when a new OS release upgraded liferea to a new version. I think I was using version 1.8 before that.

[2015-06-19 11:03] lwindolf commented on #158
Fixed with the PR from @foresto

[2015-06-19 11:03] #158 closed

[2015-06-19 11:03] lwindolf commented on #140
Fixed with the PR from @foresto

[2015-06-19 11:03] #140 closed

[2015-06-19 11:23] lwindolf commented on #182
Fixed in 1.10 and 1.11

[2015-06-19 11:23] #182 closed

[2015-06-19 12:39] lwindolf commented on #193
Good idea. I didn't know about these MIME types for schema handlers so far.

[2015-06-19 12:39] #193 closed

[2015-06-19 12:40] lwindolf commented on #200
@tpo I understand the use case, still for simplicity the lifetime of the result set of items is tied to the view displaying them. And to have a fixed point in the control flow to clean it up we do it on dialog close.

[2015-06-19 12:40] #200 closed

[2015-06-19 12:42] lwindolf commented on #199
If Pocket allows placing bookmarks via a HTTP GET call it can be implemented. Can you investigate this?

Please check out the code in src/social.c, you might want to add a line there.

Closing this ticket as it is a feature request.

[2015-06-19 12:42] #199 closed

[2015-06-19 12:47] lwindolf commented on #197
The auto-hiding of the scrollbar doesn't come from the Liferea code. The GTK settings set by Liferea is just automatic toolbars on overflow. Hiding is a theme property that we cannot control. I have no problems on Debian 7, Ubuntu 14.10/15.04 and different MATE versions.

[2015-06-19 12:47] #197 closed

[2015-06-19 12:54] lwindolf commented on #195
Thank you for reporting this. This is a documentation bug (referring to an option that does not exist anymore).

The reason for switching to a loose coupling with external GUI downloaders only was simply complexity. Due to the nature of different external downloaders not exposing an interface to set the download location and the necessity not to support a different interface for each, Liferea cann

[2015-06-19 12:59] #195 closed

[2015-06-19 13:00] lwindolf commented on #194
Is this git master or another version?

[2015-06-19 15:09] brian-in-crawford commented on #195
OK, thanks for the explanation. Downloading to the Desktop would not be a problem in itself, it's more the need to acknowledge the save dialog for every podcast that's downloaded which is a showstopper for me. I'm told that gpodder provides the facilities I'm looking for, so I'll give that a try. Thanks for your efforts with Liferea - it worked well for me up to and including the version distribut

[2015-06-19 15:38] Mno-hime commented on #199
Pocket is unfortunately POST only (also I am not interested in Pocket anymore since I realized I am quite happy with Save-To-Read Firefox addon). Sorry for the feature request.

[2015-06-19 15:47] asl97 commented on #200
if the search result is in the close dialog, the behavior would be expected.
however, would it be weird to do it that way?

or maybe embed the search dialog into the main window,  that should look ok.

[2015-06-19 18:51] GreenLunar commented on #78
BUMP!

[2015-06-20 09:24] Mno-hime commented on #180
I think the problem is not fixed. About once a month all items in my "Unread" search folder are marked as read and

[code]

line per item marked as read is to be found in journalctl log. I was always suspecting http://blisty.cz/rss2.rb?all=1 feed since they tend to add and remove items to/from the feed as they are pleased. I added the one-liner patch

[code]

which was supposed to fix the problem

[2015-06-20 11:05] GreenLunar opened #203 "Use .desktop instead of .plugin"
media-player.plugin
[code]

media-player.desktop
[code]

Notes:
`Type=Plugin` is made up. There is `Type=Application` and `Type=Link`.
I prefer `Icon=audio-x-generic` over `Icon=media-playback-start`.
Maybe `Exec` should replace `X-Loader`.

[2015-06-20 11:19] GreenLunar commented on #190
Good idea.

[2015-06-20 11:29] GreenLunar commented on #203
This solves, partially, issue #187.

[2015-06-20 18:17] asl97 commented on #203
https://wiki.gnome.org/Apps/Gedit/PythonPluginHowTo

it the same as (gedit and) the link above and i quote below
____
**examplepy.plugin**

[code]

[2015-06-20 22:06] GreenLunar commented on #203
I did not know about that.  Do they propose on a way to localize plugin stirrings?

[2015-06-21 18:28] Mno-hime opened #204 ""Error resolving 'example.com': No address associated with hostname" after resume from suspend"
After resume from suspend liferea kicks in and tries to automatically update feeds. It generally results in most of the feeds marked as "failed to update" and appropriate icon is presented instead of the feed-specific one.

![failedfeedupdate](https://cloud.githubusercontent.com/assets/4632197/8272837/b44050c2-1853-11e5-867b-2ff6ad2a3214.png)

In the log I can see e.g.:

[code]

And many other sim

[2015-06-21 22:03] lwindolf commented on #78
@asl97 @GreenLunar No need for a PR. I'll test this for a while and merge it if there are no obvious issues.

[2015-06-22 11:00] Yenya commented on #197
Well, the problem is that no other application in my desktop has the same problem, even though there are both GTK2 and GTK3 apps. So liferea has to do something differently than other GTK apps. Also, it is not theme-specific: I have verified that the default theme in Fedora - Adwaita - behaves the same in liferea.

[2015-06-22 12:03] Yenya commented on #197
I have filled the downstream bug in Fedora for this issue. For the reference, it is https://bugzilla.redhat.com/show_bug.cgi?id=1234340

[2015-06-30 22:35] eternal-sorrow opened #207 "HTTP error code 0: There was an internal error in the update process"
Since yesterday Liferea refuses to update any feed in my list with this error. My internet connection is OK, feed host is accessible.

[2015-07-01 10:18] Mno-hime opened #208 "gtk_tree_store_get_path: assertion 'iter->stamp == priv->stamp' failed"
Similar to issue #180: About once a month all items in my "Unread" search folder are marked as read and

[code]

line per item marked as read is to be found in journalctl log. I was always suspecting http://blisty.cz/rss2.rb?all=1 feed since they tend to add and remove items to/from the feed as they are pleased. I added the one-liner patch

[code]

which was supposed to fix the problem to my Fedor

[2015-07-03 22:40] lwindolf commented on #78
Seems ok. Merged.

[2015-07-03 22:40] #78 closed

[2015-07-03 22:44] lwindolf commented on #208
@Mno-hime Just to make sure I understand the description correctly:

You believe the bug happens when items are dropped from a feed?

The solution from #180 in 1.10.16 does not help?

[2015-07-03 22:49] lwindolf commented on #204
Thank you for reporting this. I think I know what is happening. First: Liferea implements a network monitor using DBUS and is registered for NetworkManager state changes.

If your laptop is opened and there is no signal from NetworkManager to Liferea that your laptop is offline Liferea cannot know and will try to update all feeds.

I actually do not really see this as a problem. There is no data l

[2015-07-03 22:49] #204 closed

[2015-07-03 22:51] Mno-hime commented on #208
Ad 1) Correct; that's my guess. Ad 2) It happened for 1.10.15+the patch from #180. Thou technically, I can't say for 1.10.16.

[2015-07-03 22:51] lwindolf commented on #207
Sorry, this is not enough information to help you.

One possible cause could be your proxy configuration (Tools/Preferences).

[2015-07-03 22:55] lwindolf commented on #203
@GreenLunar According to libpeas documentation the file extension has to be .plugin: https://developer.gnome.org/libpeas/1.14/PeasPluginInfo.html

[2015-07-03 23:11] lwindolf commented on #203
I found the solution. It already works :-)

According to the libpeas documentation the .plugin syntax is GKeyFile syntax (https://developer.gnome.org/libpeas/1.14/PeasPluginInfo.html) which according to the GKeyFile documentation is following the .desktop specification.

Did you test without renaming the files? Because this works for me. Just write

     Name=My Plugin
     Name[de]=Mein Plugin

i

[2015-07-03 23:11] #203 closed

[2015-07-04 02:05] eternal-sorrow commented on #207
I do not use proxy. For now this problem is gone, so I'm closing this issue. Will reopen it if problem returns.

[2015-07-04 02:05] #207 closed

[2015-07-04 04:15] GreenLunar commented on #203
Do we have to do this manually or is it possible to use gettext to generate a .pot file for .plugin and .py files?

[2015-07-04 04:58] GreenLunar commented on #166
I think, this issue should be reopened, since there is a patch, though, maybe, not stable.

[2015-07-04 18:58] lwindolf commented on #203
This needs to be done manually (same as with the desktop files) as there is no gettext hook in the plugin loading in libpeas.

[2015-07-04 19:02] lwindolf commented on #190
@voidplayer I see the problem. One mitigation was done by adding the item history feature, so once you accidentally click away, you can use the history to find the item again.

The idea of not immediately hiding the items can be activated in the preferences dialog (with the exception for the Unread folders).

With two features already existing to mitigate this effect I consider this as won't fix.

[2015-07-04 19:02] #190 closed

[2015-07-04 19:04] lwindolf commented on #200
@asl97 The first variant isn't suitable as the item list by design is a singleton.

The 2nd variant would be a possibility. It was like this in the past...

[2015-07-04 22:17] GreenLunar opened #209 "Add image icons to plugins"
media-player.plugin
Icon=audio-x-generic

libnotify.plugin
Icon=preferences-system-notifications

gnome-keyring.plugin
Icon=security-medium

trayicon.plugin
Icon=preferences-desktop-accessibility

[2015-07-05 18:22] lwindolf commented on #209
Thanks. Nice improvement.

I think the way to change multiple files via GUI is to fork, edit all three of them and the PR it.

[2015-07-05 18:22] #209 closed

[2015-07-06 13:30] GreenLunar commented on #209
One Pull Request with several commits #211.  GitHub staff need to provide an ability to turn several commits into a single commit.

[2015-07-09 08:59] EverEve opened #212 "New articles indicator missing"
Hello, I'm using version 1.11.5 (just compiled on Debian Testing) and it seems that you can no more choose to have the number of new items above the tray icon.

Can you please restore the preference?

Thanks.

[2015-07-09 17:22] lwindolf commented on #212
The removal of this feature was intentional. It will not be restored. Actually due to changes in GTK it is not possible to implement this feature anymore.

[2015-07-09 17:22] #212 closed

[2015-07-13 18:13] tilt-me commented on #158
Just installed 1.10.16 and pane placement is remembered, thanks a lot :)

[2015-07-13 19:28] GreenLunar commented on #190
But user is booted out of the folder and is directed to the source feed, which is not desirable.

[2015-07-13 21:15] voidplayer commented on #190
i kinda agree with @GreenLunar

I  do still consider this weird behaviour a bug, even with the history button...

but as a user, it is only a suggestion. Is for the developer to tell if this a bug or a feature :)

[2015-07-17 13:16] GreenLunar opened #213 "Disable cache does not work"
Option: Feed/Properties/Archive/Disable cache

Disable cache appears to be doing the same as Unlimited cache.

"Disable cache" is useful with subscriptions of current *currency rate* or *weather* or *available jobs* or even of limited stock of second-hand products.

[2015-07-17 13:26] GreenLunar opened #214 "Permanent icon on a button"
Button: Search/Search All Feeds.../Advanced.../Search Folder...

*Search Folder...* button always has a *gtk-add* stock icon (deprecated), even when `.config/gtk-3.0/settings.ini` has `gtk-button-images` set to `0`.

[2015-07-17 13:39] GreenLunar opened #215 "[Media Player] Standard Icon Naming Specification"
Stock|Standard
---|---
gtk-media-play|media-playback-start
gtk-media-pause|media-playback-pause
gtk-media-previous|media-skip-backward
gtk-media-next|media-skip-forward

See http://standards.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html

[2015-07-17 16:09] lwindolf commented on #215
Good point. Can you make a pull request?

[2015-07-17 16:10] lwindolf commented on #214
I understand what you mean, but I fail to get the impact of this.

[2015-07-17 16:11] lwindolf commented on #213
I totally agree.

But what is this ticket about?

[2015-07-17 16:33] GreenLunar commented on #213
This ticket is noting that *Disable cache* does not work.

[2015-07-17 16:34] GreenLunar commented on #215
I do not know how I should modify this plugin. @mozbugbox, would you like to do it?  This is not an urgent thing.

[2015-07-17 16:38] GreenLunar opened #216 "[i18n] Untranslatable strings"
Three strings:

* Cancel
* Delete
* Saved Search

[2015-07-17 16:40] GreenLunar commented on #214
I just like not to have icons on text buttons, it looks more elegant, to me.

Icons alone on buttons are fine by me, though, but this is off topic.

[2015-07-18 16:30] dennisjac opened #217 "scrolle position in headline pane gets reset to oldest articles when using mouse wheel"
When I use the mouse wheel to scroll in the headline pane of the window the scroll position gets reset to the oldest entries all the way down. After a while I managed to make this effect disappear but I don't really know how. After a fresh restart of liferea this occurs again.
Once I have used the wheel and the scroll position has been reset I can scroll through the list normally but when I click

[2015-07-19 03:57] dennisjac commented on #217
Never mind. It seems that this is a bug it gtk3. After downgrading from 3.16.5 to 3.16.3 this effect disappears.

[2015-07-19 03:57] #217 closed

[2015-07-24 10:46] erie88 commented on #164
I thought I'm the only one who would want to see option"disable fetching / loading images" on liferea.
I really hope they would add this option since most of my feeds are from tumblr. And the feeds have lots of images (even in 1 page can have 20 or more images).
With limited internet connection, I prefer to just read excerpt of the feed content. Thus if I want to see what the images content, I can

[2015-07-24 11:26] GreenLunar commented on #164
Liferea can either have an InfoBar with buttons to load images on demand, similarly to some email clients or let user to load each single image on click/demand.

[2015-07-24 11:46] asl97 commented on #164
all the idea that been stated all sound easy to implement directly into liferea but it isn't.

it is however easy to implement it as a script.
____

ie:
make a script for the feed,  replace all image link with a button with javascript in the on_click which replace it with the image.

[2015-07-24 17:44] balonballot commented on #164
@asl97 script as plugins? how do I create one? I want to (if possible) make it so liferea does not display images at all and just text and url.

[2015-07-24 19:56] GreenLunar commented on #164
Please deliver us such script! ^_^

[2015-07-25 10:51] soerenk commented on #194
Using 1.10.16 with ArchLinux I can confim the issue.

[2015-07-25 14:07] asl97 commented on #164
@balonballot : not as a plugin, iirc, it's impossible to modify how webkit works from the plugin system on liferea.

it's a script as a filter (see http://lzone.de/liferea/scraping.htm )

@GreenLunar : there is no method that would work everywhere, it would be hard to make a script that would work for every site.

but it's really a simple script once you know the what to turn the `img` tag into, s

[2015-07-27 09:00] GreenLunar opened #218 "Remove colon"
The string *Enter the username and password for \"%s\" (%s):* may appear like this:

*Enter the username and password for \"%s\" (%s*
*):*

Seeing *):* is strange.

I suggest to remove that colon.

[2015-07-27 09:05] GreenLunar opened #219 "[gnome-keyring] Hide warning message"
The following message should be hidden when plugin *gnome-keyring* is enabled and working properly.

Note: *The username and password will be saved to your Liferea feedlist*
*file without using encryption.*

[2015-07-27 09:07] GreenLunar opened #220 "Long developer message in POT file"
I think the following should not be presented in POT file.

[code]

[2015-07-27 11:50] GreenLunar opened #221 "Auto-select an item when is an only one item available"
When a feed has only an item to show, select that item automatically.

Note: In this case, user would not see the introduction title and comment of that feed, because the content of an item would be displayed instead.

[2015-07-27 17:28] bojs opened #222 "My feeds are being overwritten"
I've validated my XML with a few online checks, so I suppose it's not that. Like a cancer, my feeds get overwritten, gradually one by one with some 'universeofluxury' feed.

[2015-07-28 01:31] asl97 commented on #222
you didn't post your feed nor the 'universeofluxury' feed.

we don't have anything to work with to find out what's wrong.

[2015-07-28 09:00] bojs commented on #222
Well I suspect it's not the xml since I validated it with http://www.w3schools.com/xml/xml_validator.asp and http://www.xmlvalidation.com/

I'd rather not post my feed for privacy reasons.

Is there nothing else I could provide?

[2015-07-28 09:08] asl97 commented on #222
the only thing i can think of without the data is conflicting id or something.

[2015-07-28 16:37] gdmsl opened #223 "Search folder dialog don't show rules"
When I try to add a new search folder I get an empty dialog with no form for rules and only the text field for the folder name, the add button and the "Any Rule...", "All rule... " checkboxes. I also get these  messages

[code]

and the message `Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.` is displayed each time I open the "properties" dialog for the search folde

[2015-07-30 10:10] GreenLunar opened #224 "[Search Folder] Filter by date"
New rule: Date
[code]

[2015-07-31 05:41] DoctorJellyface opened #225 "Notifications under GNOME 3.16"
They work fine, but not in the notification/calendar menu. When you click on there, nothing happens (liferea should open with the feed in the notification) and all the Liferea notifications underneath get closed!

[2015-07-31 06:43] asl97 commented on #225
imo, this seem like a feature request, see: http://lzone.de/liferea/faq#feature-x

the file is here: https://github.com/lwindolf/liferea/blob/master/plugins/libnotify.py

i don't blame you for not knowing about it, the website main page is broken

[2015-07-31 07:10] DoctorJellyface commented on #225
Why is this a feature request? It's existing functionality being broken?

[2015-07-31 08:21] asl97 commented on #225
it never existed before afaik.

[2015-07-31 12:17] DoctorJellyface commented on #225
I mean support for notifications. They need to be changed only slightly to work once more.

[2015-07-31 12:29] asl97 commented on #225
there is already support for notification, it's in the form of a plugin,  when a new feed is receive, it should pop up,  and as you said, when you click it, it close and doesn't open the feed.  that is how it always works.

if you want it to open the feed when you click the notification, as the faq as stated: `please take the time to write a patch `

[2015-07-31 14:07] DoctorJellyface commented on #225
Well, partly. The other thing is that clicking on closes all that appeared before it, which is weird.

Well, I'm on a new machine and I'm thinking of switching to GNOME News to get a purer GNOME experience. I don't know whether I'll be using Liferea. I just reported this so that other users could get a fix.

[2015-08-01 02:07] nekohayo opened #226 "Feedburner feeds — including the official Liferea blog — have no timestamps and thus constantly reset"
Image says it all, mostly:

![liferea feedburner broken timestamps](https://cloud.githubusercontent.com/assets/479401/9020274/4e852d10-37d0-11e5-9fc6-1ac8664b9a74.png)

The issue occurs with feeds such as
http://rss.slashdot.org/Slashdot/slashdotLinux
http://feeds.feedburner.com/LifereaBlog

There's gotta be a way to do something about this? The blog posts from "Liferea's blog" keep shifting their

[2015-08-01 07:01] asl97 commented on #226
that is cause the feed doesn't contain the time, there no way to do anything about it.

but the time shouldn't be shifting after it got the added to the database.

[2015-08-06 09:18] bojs commented on #222
iconosquare.com/feed/teciatorres

all of these feeds seem to double, tripple, quadruple up and often have 'new' posts from months ago

[2015-08-09 16:17] GreenLunar opened #228 "Add confirmation dialog when marking all items as read"
Add confirmation dialog user selects */Subscriptions/Mark All As Read*

[2015-08-10 05:00] GreenLunar opened #229 "[Feature Request] Replace status bar by a dynamic popup bar"
Similarly to [Catfish](https://smdavis.us/projects/catfish/) 1.2.2.

This could be related to #45.

[2015-08-10 10:23] GreenLunar opened #230 "Add tooltips to navigation buttons"
Previous
*Go back one item*

Next
*Go forward one item*

Next Unread Item
*Go to next unread item*
*Display next unread item*

[2015-08-10 10:26] GreenLunar commented on #230
Next Unread Item
*Go to next unread item*
*Display next unread item*

[2015-08-10 10:38] GreenLunar opened #231 "[Media Player] Segmentation fault upon end of playing of an audio file"
Liferea 1.11.5 crashes after it is done playing an audio file of feed http://feeds.kexp.org/kexp/songoftheday which is listed in */opml/feedlist_en.opml*

[2015-08-10 10:50] GreenLunar opened #232 "Remove unused system tray settings"
`start-in-tray` trayicon` trayicon-new-count` do not appear to have an effect.

[2015-08-10 12:13] GreenLunar opened #233 "Sponsored News URLs [IMPORTANT]"
Before Mozilla has decided to support the centralization of the World Wide Web and and gradually killing RSS, which is immoral, it had a Web Feed (one feed for every locale) titled in English as Recent Headlines.  Below are several of these feeds and news websites who are currently paying to Mozilla for a redirect.
[code]
Unlike Mozilla, Liferea can, obviously, use more than a Web Feed, which mean

[2015-08-10 12:21] GreenLunar commented on #233
@kfogel, what do you think of the above suggestion?

[2015-08-10 15:25] GreenLunar opened #234 "Segmentation fault upon attempting to add an OPML"
1. Open /Subscriptions/News Source/Planet, BlogRoll, OPML
2. Try to add any /usr/share/liferea/opml/feedlist_xx.opml
3. **Segmentation fault.**

---

1. Open /Subscriptions/Import Feed List...
2. Add OPML from local machine.
3. Success.

---

Liferea 1.11.5

[2015-08-10 15:34] GreenLunar commented on #234
Reproduce it with /Subscriptions/News Source/Planet, BlogRoll, OPML

[2015-08-10 21:49] lwindolf commented on #231
Any GStreamer messages/assertions visible when run from the command line?

[2015-08-10 21:52] lwindolf commented on #230
There are intentionally no tooltips. The reason being the use case when you use "Next Unread" or "Next" via mouse button. The tooltip would pop up after each click anew. Quite disturbing.

Usability is actually higher without tooltips.

[2015-08-10 21:52] #230 closed

[2015-08-10 21:54] lwindolf commented on #232
I left them for the trayicon plugin to maybe reuse. No need to remove them yet.

Not a functional issue. Closing this.

[2015-08-10 21:54] #232 closed

[2015-08-10 21:55] lwindolf commented on #229
Closing this as it is a feature request.

[2015-08-10 21:55] #229 closed

[2015-08-10 21:56] lwindolf commented on #226
Yup. I need to fix this.

[2015-08-10 21:58] GreenLunar commented on #231
Nothing, just the following message appears 10 times at startup:
[code]

[2015-08-10 22:01] GreenLunar commented on #233
Also to add a menu to restore Liferea Default Feed List, similarly to a Restore Default buttons of search engine management dialog of some web browsers.

[2015-08-10 22:25] GreenLunar opened #235 "Turn documentation text into hyperlink"
Turn text that refer to documentation into hyperlink.

/Subscriptions/New Subscription/Advanced...

`...  See the documentation for more information.`

`...  See the <a href="file:///usr/share/liferea/doc/html/subscriptions_en.html">documentation</a> for more information.`

[2015-08-10 22:29] lwindolf commented on #235
Please provide a PR!

[2015-08-11 10:21] DragoonAethis commented on #194
On Arch as well, 1.10.16 with Gtk+3 3.16.6, Numix theme, broken as well. Using git master, this is fixed.

[2015-08-12 09:08] Mno-hime commented on #208
Haven't seen it for 2 months. Closing.

[2015-08-13 18:59] lwindolf commented on #233
@GreenLunar Liferea is not about sponsoring. Did never happen, won't happen.

About an option for restoring the default feed list: just remove ~/.cache/liferea and ~/.config/liferea and you have it again. Alternatively reimport the list from /usr/share/liferea/opml/... . I do not consider this a very important use case.

[2015-08-13 18:59] #233 closed

[2015-08-13 18:59] lwindolf commented on #224
Closing this feature request.

[2015-08-13 18:59] #224 closed

[2015-08-13 19:00] lwindolf commented on #221
That is not a good idea, as the read state would get lost and this might be unintentional.

Closing this feature request.

[2015-08-13 19:00] #221 closed

[2015-08-13 19:13] lwindolf commented on #234
Reproduced. Also in 1.10

[2015-08-13 20:40] GreenLunar commented on #233
What difference would it make?
If user is not interested then they can delete them at anytime.

The reason I suggested a GUI option for restoration of feeds is to have better chances to keep sponsored feeds for profit.

Mozilla RAM Cracker is not about sponsoring... OF COURSE IT IS, it has been since its start, from its default selection of search engines* to the aforementioned web feed to the "ma

[2015-08-13 20:56] GreenLunar opened #236 "Restore welcome screen"
Add a preference in one of these forms:

Drop-down menu:
[code]

Checkbox:
`Select last item when Liferea starts` (I need to rephrase it)
`Continue where I left`

[2015-08-13 20:58] GreenLunar commented on #233
You may also add to welcome screen #236 a plain (not in secret, as the red lizard does it) note about these sponsored feeds and ask users to use these feeds to raise Liferea's revenue for insuring a continues and a product of higher quality over time.

[2015-08-13 21:16] lwindolf commented on #233
@GreenLunar The feeds you refer to are not included in upstream. Please, please check the sources!!!

[2015-08-13 21:17] lwindolf commented on #236
That's a feature request. Closing the ticket due to the "no feature request" policy.

[2015-08-13 21:17] #236 closed

[2015-08-13 21:26] GreenLunar commented on #236
This is a bug, not a feature request.

Even on fresh install, the welcome screen is not shown, there is a funny layout instead.

[2015-08-13 21:27] GreenLunar commented on #233
What feeds?

[2015-08-13 21:31] GreenLunar commented on #233
Are you referring to fxfeeds.mozilla.com?  I am not the administrator of that server, and I know about it be examining Latest Headlines Live Feed on Bookmarks bar.  As I stated above "Before Mozilla has ... and gradually killing RSS".  They are being paid to eliminate RSS.

[2015-08-13 21:33] lwindolf commented on #233
Maybe I totally do not get the ticket.

1.) What is the symptom/problem in Liferea version xxxx?
2.) What is the expected behaviour?

[2015-08-13 21:34] lwindolf commented on #220
I see no way how to prevent this. Also I believe it doesn't matter much.

[2015-08-13 21:34] #220 closed

[2015-08-13 21:35] GreenLunar commented on #233
First, make a decision (yes/no), and then we can see how we continue on with this issue.

[2015-08-13 21:37] lwindolf commented on #233
A decision on what exactly? You know this is an issue tracker. To track issues. Not to discuss political stuff. The best place for politics is the mailing list.

[2015-08-13 21:38] GreenLunar commented on #233
I understand. I will start a discussion by email, then.

[2015-08-13 21:39] lwindolf commented on #236
You ask for a preference. This is definitively an enhancement.

I also see that you disagree with the removal of the welcome screen. Still it is not a bug that it was removed. It was intentionally removed. No regression here.

[2015-08-13 21:41] GreenLunar commented on #236
I would like to have it restored and being displayed at Liferea startup, without a preference as suggested above.

[2015-08-13 21:44] lwindolf commented on #236
I totally understand you wish. Still my decision was and still is to remove the welcome screen.

There is no bug here.

[2015-08-13 21:53] lwindolf commented on #216
Thanks for the hint!

[2015-08-13 21:53] #216 closed

[2015-08-13 21:54] lwindolf commented on #214
I understand. Will be fixed once all deprecations for GTK 4 are resolved.

[2015-08-13 21:56] lwindolf commented on #189
I understand the wish, but for simplicity we cannot provide all options in the feeds too. Closing this feature request.

[2015-08-13 21:56] #189 closed

[2015-08-13 22:01] lwindolf commented on #198
Fixed. Thanks for reporting it.

[2015-08-13 22:01] #198 closed

[2015-08-13 22:06] elthommy opened #237 "Core Dump on start"
Hi All,
Unfortunatly my liferea no longer want to work :'(
Everytime I try to launch it it crashes with core dump.
I can also attach the core file if needed.

Can you please help me? :)

[thomas@samoth tmp]$ coredumpctl gdb 5334
           PID: 5334 (liferea)
           UID: 1000 (thomas)
           GID: 100 (users)
        Signal: 11 (SEGV)
     Timestamp: jeu. 2015-08-13 23:50:39 CEST (14min ago

[2015-08-14 06:33] GreenLunar commented on #236
I think you should restore and improve the welcome screen.  There are many shiny CSS tricks you can utilize with CSS3 and HTNL5 and may give a good impression on new users.

[2015-08-14 07:22] asl97 commented on #233
@GreenLunar you aren't making any sense

what is "Mozilla RAM Cracker"?
there isn't anything on google or ddg.

why does liferea need to generate money?
adding any kind of ads or whatnot to generate money will be the death of liferea,
downstream would most likely remove those money generating stuff even if they doesn't kill liferea.

why should liferea add more links?
as far as some users are conc

[2015-08-14 08:05] GreenLunar commented on #233
1. I meant to the bloated product called Firefox.

2. If user does not ant sponsored feeds, URLs of Liferea, they can erase them.

3. I did not understand this question (more links).

[2015-08-14 08:09] GreenLunar commented on #233
Those revenue generating links (e.g. `http://fxfeeds.*******.com/`) would be under the control of Lars.

[2015-08-14 08:10] GreenLunar commented on #233
Those revenue generating links (e.g. `http://fxfeeds.*******.com/`) would be under the control of Lars, or some CDN server, so, yes, it might be, but many do not care.

[2015-08-14 08:48] asl97 commented on #233
ads and other money making link are infamously known for storing user information so they could give targeted ads/link.

it would be too late to erase them when liferea start, it would have already send out information to those unwanted link unless they aren't connected to the internet.

liferea would be exchanging the user privacy for some meager amount of money.

[2015-08-14 08:59] GreenLunar commented on #233
Yes, this is true, and this is the way for Liferea and sponsors to make sure where hits are originating from.  Mozilla has rapped internet privacy and has caused to catastrophic projections on its users, and there are too few who actually protest against it.

Assume Liferea revives its Welcome dialog, it may detail there the existence and purpose of it sponsored links and user may decide whether o

[2015-08-14 09:13] asl97 commented on #233
what is your source for that?  where did "Mozilla has rapped internet privacy and has caused to catastrophic projections on its users"?

[2015-08-14 09:22] GreenLunar commented on #233
Mostly, User-Agent and so called Phishing Detector which really sends a list of websites of user to big G.  Today, since web standards are no longer at fault, there is no need to have them, unless you want to ID users.

Indeed, that is why I suggested dedicated URLs.

[2015-08-14 09:25] GreenLunar commented on #233
@asl97 I will start a discussion on [Liferea-Devel](https://lists.sourceforge.net/lists/listinfo/liferea-devel) mailing list.  We can continue there.

[2015-08-14 09:46] asl97 commented on #233
checking user-agent is just a stupid unreliable thing, people who use them see me as using flock or lynx on a nokia 3310* when i am really using other browser.

ether way, like i said, those site don't have to pay anyone just because someone link to them, regardless of whether it is a dedicated link or not.  a deal/contract need to be make first with them (which i highly doubt would happen).

* th

[2015-08-14 09:58] GreenLunar commented on #233
I know.

[2015-08-14 14:35] GreenLunar commented on #213
Also to check the results of a query with searx https://searx.me/?q=liferea&format=rss&category_general=1&pageno=1

[2015-08-17 15:41] GreenLunar opened #238 "Launch Liferea at system startup"
Suggestion for Liferea 1.11.5

/Tools/Preferences/GUI
 ☐ Launch Liferea at system startup
  ◉ Hidden
  ◌ Iconified

When *Hidden* is selected, file `liferea.desktop` with the following entries be created in `~/.config/autostart/`

[code]

When *Iconified* is selected, file `liferea.desktop` with the following entries be created in `~/.config/autostart/`

[code]

[2015-08-17 15:42] GreenLunar opened #239 "liferea --mainwindow-state=iconified does not work"
Version 1.11.5

[2015-08-17 15:53] GreenLunar opened #240 "Rename strings"
Please,

Rename *GUI* into *Desktop*.
Rename *Cancel All* into *Stop*.

I always shiver when I read these strings.

Consider moving *Search All Feeds...* to *Tools* menu.

[2015-08-21 06:39] GreenLunar opened #241 "Enhance icons"
For feed flagging, I think `emblem-favorite` is better than `emblem-important`.

For attachments in feeds:
 - Icon of unknown attachments should be `mail-attachment` or ~~`emblem-package`~~ `package-x-generic`.
 - Icon of audio attachments should be ~~`emblem-multimedia`~~ `audio-x-generic`.
 - Icon of video attachments should be ~~`emblem-videos`~~ `video-x-generic`.
 - Icon of image attachments

[2015-08-21 06:50] GreenLunar opened #242 "Reposition icons and simplify theme-ing mechanism"
I propose to locate icons in the same manner to [Gajim](https://trac.gajim.org/browser/icons/hicolor).
https://trac.gajim.org/browser/icons/hicolor/16x16/actions
https://trac.gajim.org/browser/icons/hicolor/16x16/status

Instead of placing icons under `/usr/share/liferea/pixmaps/`, place them under `/usr/share/liferea/icons/hicolor/` in a way that would result in the following scenario.

Liferea h

[2015-08-21 07:23] GreenLunar commented on #242
ping @Obsidien

[2015-08-21 07:30] GreenLunar commented on #236
From where can I download Liferea version 1.10-RC4?

[2015-08-22 07:19] GreenLunar commented on #233
@asl97, I will stat a discussion at Liferea-Devel mailing list.  Please subscribe if you are not already.

From: http://www.porteus.org/use-duckduckgo.html

[2015-08-22 11:59] GreenLunar commented on #225
Is [this](https://wiki.gnome.org/Design/Apps/Potential/News) GNOME News?

I recently installed Salix Mate 14.1 on a new machine of my sister, and I thought of installing KDE or Xfce, but anti-standard GNOME3 was not on my mind.  Eventually, obviously, I have installed MATE, because it was a new machine.

Today, every component of MATE can now be built with GTK2 and GTK3, though GTK3 support is sti

[2015-08-24 22:25] GreenLunar opened #243 "Facilitate protocol registration in external applications"
This is a feature request, but it is essential.

Instead of users manually configuring a web browser to invoke `liferea-add-feed`, make this process easier with a click of a button.

Maybe this should be a plugin or a checkbox under GUI tab.

`☑ Set Liferea the default feed reader in desktop web browsers`

Relevant resources:
http://kb.mozillazine.org/Register_protocol#Linux

[2015-08-24 22:26] GreenLunar opened #244 "Hidden liferea-add-feed Desktop file for better integration with external applications"
See #243

[code]

[2015-08-26 15:27] GreenLunar opened #246 "Segmentation fault upon attempting to delete feed"
Start Liferea with `liferea --add-feed %U --debug-all`.
Delete selected (newly added) feed.
Crash.

[code]

[2015-08-26 15:28] GreenLunar opened #247 "Segmentation fault upon sorting feeds"
Click on menu Sort Feeds menu until Liferea crashes.

[2015-08-26 15:35] GreenLunar opened #248 "[liferea-add-feed] Use Zenity to display warning dialog"
The message `Liferea is not running! You need to start it first.` is not be visible to end-users.
Add a Zenity dialog, when terminal is not opened.

Zenity dialog would show the same message and would let user to launch Liferea.

1. Liferea icon in title bar
2. Icon: Warning
3. Message: Liferea is not running! You need to start it first.
4. Buttons: [Start Liferea] [Close]

[2015-08-27 08:00] GreenLunar commented on #216
Please update PO files.

[2015-08-27 19:13] #213 closed

[2015-08-27 19:13] #214 closed

[2015-08-27 19:13] #215 closed

[2015-08-27 19:13] #218 closed

[2015-08-27 19:13] #219 closed

[2015-08-27 19:13] #228 closed

[2015-08-27 19:13] #231 closed

[2015-08-27 19:13] #235 closed

[2015-08-27 19:13] #238 closed

[2015-08-27 19:13] #239 closed

[2015-08-27 19:13] #240 closed

[2015-08-27 19:13] #241 closed

[2015-08-27 19:13] #242 closed

[2015-08-27 19:13] #243 closed

[2015-08-27 19:13] #244 closed

[2015-08-27 19:13] #248 closed

[2015-08-27 19:13] lwindolf commented on #226
Finally got to fix this.

[2015-08-27 19:13] #226 closed

[2015-08-28 06:58] GreenLunar commented on #244
Unless script liferea-add-feed is going to be removed, I do not think that this issue should be closed.

[2015-08-28 07:01] GreenLunar commented on #213
This is a bug.

[2015-08-28 07:02] GreenLunar commented on #240
May I send a patch to rename strings *GUI* and *Cancel All*?

[2015-08-28 07:31] GreenLunar commented on #238
Why?

[2015-08-28 07:32] GreenLunar commented on #239
This is a bug.

[2015-08-28 08:54] asl97 commented on #238
you should know, it is cause this is (imo) a feature request

[2015-08-28 09:04] GreenLunar commented on #238
Indeed so, but, I think, this is not difficult to implement.  It is a matter of copy/delete files.

[2015-08-28 09:21] asl97 commented on #238
then why don't you implement it and make a pull request if you think it's so simple?

this involve editing the glide (gui) files, adding a handle to those buttons, logic to grey out the option if `Launch Liferea at system startup` isn't mark, figuring out which of the radio button is selected and finally copying/writing the files.

i might have miss a few other stuff but those are what need to be

[2015-08-28 10:48] GreenLunar commented on #238
I will try to work on the GUI side, but I am not sure how to do it on the programming side.

[2015-08-31 04:58] GreenLunar commented on #219
@asl97 is the above feasible using Libpeas API?

[2015-08-31 09:35] asl97 commented on #219
i rather keep all warning about username and password shown than hiding them.

in any case, it is embedded into the ui, it might be possible but i don't recommend editing the ui through the plugin system.

[2015-08-31 16:24] criztovyl commented on #194
1.10.16 on Debian Sid, GTK+3 3.16.6-1, broken too

[2015-08-31 16:27] criztovyl commented on #223
See #194

[2015-09-05 10:38] GreenLunar opened #251 "Liferea does not always use theme icons when is launched at system startup"
Liferea: 1.11.5
Xfce: 4.10.0

Currently, when Liferea is set to launch on system start, it sometimes uses icons from `/usr/share/liferea/pixmaps/` instead of theme icons. (From: #242)

File: `~/.config/autostart/liferea-autostart.desktop`

[code]

![liferea-pixmap-icons](https://cloud.githubusercontent.com/assets/2053884/9771328/083f2a76-573e-11e5-8811-440a4a4b77c6.png)

[2015-09-06 07:04] gitkrax opened #252 "Tiny Tiny RSS integration error"
I've tried to use Liferea with Tiny Tiny RSS, but it seems to have a problem with detecting how the feeds are updated.

If I don't press "Update All" none of the feeds are updated. If I press the button, I get the following error:
[code]
This isn't true, since that source is self-updating. I use the `update.php --daemon` command, as [instructed by the install guide](https://tt-rss.org/gitlab/fox/t

[2015-09-06 18:22] DoctorJellyface commented on #225
OK, so it turns out that a750715 fixes this! The original bug report was #90. So my half-an-hour hacking session was laid to waste. But at least I learnt some stuff, like what an GObject introspection is, and refreshed some of my python skills. Ah well.

@GreenLunar yeah, that's GNOME News, it's in very early alpha and not yet usable for daily use, as I found out. I do know about MATE, but my hear

[2015-09-06 18:22] #225 closed

[2015-09-06 18:22] DoctorJellyface commented on #225
And btw I had to build liferea from git to get the fix.

[2015-09-07 07:13] GreenLunar commented on #219
Would you prefer to have the text replaced by "Your credentials will be encrypted with gnome-keyring" or "Your credentials will be encrypted with kwallet"?

[2015-09-07 07:22] GreenLunar commented on #233
I am about to send an email in this concern to liferea-devel mailing-list.

Please `~~strike-through~~` the following comment so users would not get confused by it:

[2015-09-08 04:18] ketsuban opened #253 "Notifications aren't cleared on reading the associated feed entry"
This relates to Liferea 1.10.12 from the Ubuntu 15.04 repositories. I checked the release notes and searched issues for any likely candidates, but found nothing to indicate if this has already been reported, fixed in one of the four point releases since Ubuntu 15.04 was frozen and not backported as it's not a security bugfix. If it's already been recognised and dealt with in some manner then I apo

[2015-09-09 18:59] GreenLunar commented on #251
![liferea-pixmap-icons](https://cloud.githubusercontent.com/assets/2053884/9771328/083f2a76-573e-11e5-8811-440a4a4b77c6.png)

[2015-09-15 18:38] godfree2 opened #254 "GUI won't raise under xubuntu 14.04.x"
liferea --debug-all
provides little information on why GUI won't rise

[2015-09-18 09:18] GreenLunar commented on #254
Please post the output of `liferea --debug-all`.

[2015-09-18 09:19] GreenLunar commented on #233
Gentlemen.  This is an important matter.  Please reply to this message http://sourceforge.net/p/liferea/mailman/message/34437871/

[2015-09-18 13:01] godfree2 commented on #254
liferea --debug-all
is too large

liferea -w shown
will raise the GUI
and it has toggled the hidden setting to show
so now liferea will start with GUI

On Fri, Sep 18, 2015 at 6:18 AM, GreenLunar <notifications@github.com>
wrote:

--
I've been on-line since late 1992
My computer recommendations: Puppy Linux operating system, passwordsafe,
truecrypt (private storage for hard drive/flash sticks), Pi

[2015-09-18 13:09] GreenLunar commented on #254
Upload it to https://dpaste.de/ or;
Save it to plain text file, compress it in GZip and upload to http://www.filedropper.com/

[2015-09-22 16:34] lwindolf commented on #252
This issue was fixed in Liferea 1.10.4. Please always try the latest version before reporting bugs :-)

[2015-09-22 16:34] #252 closed

[2015-09-23 06:18] gitkrax commented on #252
I tried going through the changelog, but could not find any mention of this. Thanks!

[2015-09-25 10:25] marukuru commented on #254
Just an idea (as I had the same issue after upgrading to latest unstable [1.11.5]):
The internal tray feature has been moved to a plugin. If you had "start to tray" enabled before upgrading Liferea will start hidden AND no tray icon is shown, as the Python-based plugin hasn't been enabled yet.

[2015-09-25 10:29] marukuru opened #255 "Tray icon plugin doesn't offer any visual feedback about new headlines"
Since the tray icon (gnome classic) support moved to a plugin there's no visual feedback (changing of tray icon color or number of unread feeds) from the tray icon. [This is more of a feature request, not an issue, as it's simply not implemented in trayicon.py]

[2015-09-25 11:58] godfree2 commented on #254
that makes sense & something for the FAQ wiki

On Fri, Sep 25, 2015 at 7:25 AM, marukuru <notifications@github.com> wrote:

--
I've been on-line since late 1992
My computer recommendations: Puppy Linux operating system, passwordsafe,
truecrypt (private storage for hard drive/flash sticks), Pidgin Internet
Messenger, tor anonymous browsing bundle.
My information recommendations: antiwar.com thereal

[2015-10-02 11:07] glitsj16 opened #256 "PyGIWarnings on loading plugins"
Getting some PyGIWarnings when loading plugins, related to importing without specifying a version first.
/usr/lib/liferea/plugins/trayicon.py:22: PyGIWarning: Peas was imported without specifying a version first. Use gi.require_version('Peas', '1.0') before import to ensure that the right version gets loaded.
  from gi.repository import GObject, Peas, PeasGtk, Gtk, Liferea, Gdk
/usr/lib/liferea/pl

[2015-10-02 11:59] glitsj16 opened #258 "Crash on opening feed properties :: Loading /usr/share/liferea/liferea.ui failed"
Liferea crashes when trying to open the feed properties.
right-clicking feed > Preferences / opening top menu > Feed > Properties

** (liferea:26056): ERROR **: Loading /usr/share/liferea/liferea.ui failed.

Pretty sure this started happening after upgrading to gtk2 v 2.24.28 / gtk3 v 3.18.0, but this is unconfirmed guessing...

liferea debug-all output (1.4MB / tar.bz2) --> https://db.tt/t7hgoLoM

[2015-10-05 19:44] alijan92 commented on #258
I can confirm this bug on Liferea 1.10.16 and Gnome 3.18

[2015-10-06 20:02] Aeyoun opened #259 "Feed update setting: Respect server’s cache settings"
Currently, the user must make a choice for how often a feed should be updated. However, not all feeds are created equal. Some sites update several times per hours and others only once a week or once a month.

I’d like to see a new option where users choose the max age they want to accept or feeds beore rechecking, and otherwise defer to the feeds‘ `Cache-Control: max-age=seconds` HTTP header to se

[2015-10-07 11:29] eternal-sorrow opened #260 "HTTP error code 0"
From some moment I always get this error when trying to update any feed in my list.

[2015-10-07 11:50] #259 closed

[2015-10-07 11:50] lwindolf commented on #259
Closing this feature request.

[2015-10-07 11:52] lwindolf commented on #258
Hmmm strange.

The file /usr/share/liferea/liferea.ui does exist?

And can you load it with the glade UI editor?

[2015-10-07 18:37] glitsj16 commented on #258
Confirming that the file does exist and has the usual read permissions.. It loads just fine with the glade UI editor (glade-gtk2).. Puzzling indeed. Will try to downgrade some libs and see if that changes something.. Thanks for looking into this.

[2015-10-07 18:50] glitsj16 opened #261 "PyGIWarning on media-player plugin"
More warnings for the media-player plugin:

/usr/lib/liferea/plugins/media-player.py:28: PyGIWarning: Peas was imported without specifying a version first. Use gi.require_version('Peas', '1.0') before import to ensure that the right version gets loaded.
  from gi.repository import GObject, Peas, PeasGtk, GLib, Gtk, Liferea, Gst
/usr/lib/liferea/plugins/media-player.py:28: PyGIWarning: PeasGtk was

[2015-10-08 22:13] guillermohs9 opened #263 "No tray icon on Gnome 3.18"
I just updated to Gnome 3.18, I'm using Arch stable and topicons gnome-shell extension. I can't see the tray icon though liferea is running.

[2015-10-08 22:33] #263 closed

[2015-10-11 12:59] rezad1393 commented on #258
same OS (archlinux)
this happens with liferea git and also the production version 1.10.
the file exits and readable.

[2015-10-11 13:08] GreenLunar commented on #215
@glitsj16, would you like to do it?

[2015-10-11 13:11] glitsj16 opened #264 "PyGIWarnings on gnome-keyring plugin"
/usr/lib/liferea/plugins/gnome-keyring.py:24: PyGIWarning: Peas was imported without specifying a version first. Use gi.require_version('Peas', '1.0') before import to ensure that the right version gets loaded.
  from gi.repository import GObject, Peas, PeasGtk, Gtk, Liferea, GnomeKeyring
/usr/lib/liferea/plugins/gnome-keyring.py:24: PyGIWarning: PeasGtk was imported without specifying a version f

[2015-10-11 13:26] glitsj16 commented on #215
@GreenLunar: sure, glad to help out. I'll do some testing and will report back.

[2015-10-11 14:11] GreenLunar commented on #215
Thank you very much!

@lwindolf, I suggest to add a tag called "easy-fix" for people who are willing to bother for smaller contributions; this issue, for instance, is an appropriate issue to be marked as such.

[2015-10-11 16:06] glitsj16 commented on #215
@GreenLunar: proposed fix is available in a seperate branch so you (and other people) can test it: https://github.com/glitsj16/liferea/tree/fix-%23215
Looking good here with my custom theme :-) Thanks for pointing me to this.

I've been using liferea for several years now, and if my current skill-set permits making these kind of smaller contributions, I'm willing to contribute. Having such an "eas

[2015-10-11 19:28] GreenLunar commented on #215
Thank you, glitsj16.

There are two icon enhancement I proposed at #241 and #251, the latter is is a new form of #242 so it won't get closed.

I have proposed several slight changes in most recent issues I have opened. See https://github.com/lwindolf/liferea/issues?q=is%3Aissue+is%3Aclosed+author%3AGreenLunar

[2015-10-12 15:32] Leiaz commented on #258
The actual error is `Object with ID liststore6 not found`. The `propdialog` uses that object and it is not in the list of requested objects in `liferea_dialog_new`.

It worked with GTK+ 3.16 and no longer does with GTK+ 3.18, not sure why. Adding `liststore6` to the requested objects "fixes" it.

I'll send a pull request, but there may be a better fix, as it worked before ...

[2015-10-12 17:22] glitsj16 commented on #258
Confirming that Leiaz's proposed fix does solve this issue with GTK+ 3.18 on archlinux. Thanks Leiaz!

[2015-10-12 17:58] lwindolf commented on #258
@Leiaz @glitsj16 Thanks for the fix and the retest! This solves it for 1.11 (which was missing the liststore6 declaration).

The strange thing is the report from @rezad1393 about it not working in 1.10 where liststore6 is declared...

[2015-10-12 18:49] #264 closed

[2015-10-12 20:01] #234 closed

[2015-10-12 20:04] #258 closed

[2015-10-12 20:05] #256 closed

[2015-10-13 13:58] GreenLunar opened #268 "[Feature Request] Profile support and Profile Manager"
Add profile support to Liferea.
[code]

[2015-10-13 13:58] #268 closed

[2015-10-13 14:04] GreenLunar opened #269 "Crash due to do-not-track"
Steps to reproduce:
1. Upgrade from Liferea 1.11.5 to 1.11.6
2. Start Liferea
3a. Click _/Tools/Preferences_
3b. Click _/Subscriptions/Update All_ or attempt to update a feed
4. BOOM!

[code]

[2015-10-13 15:00] lwindolf commented on #269
Did you do run "make install"?

[2015-10-13 15:02] lwindolf commented on #268
Sorry as always: no feature requests.

[2015-10-13 15:36] GreenLunar commented on #268
I know, thus I closed this ticket.

If you may, turn me into collaborator so I can label Feature Request issues with feature-request labels for future reference for contributors who would want to look into past Feature Requests.

[2015-10-13 15:40] GreenLunar commented on #269
I guess I did.  I use the same build script which I use for upgrading Liferea.

Herein the SLKBUILD in question:
[code]

[2015-10-13 15:47] GreenLunar commented on #215
@lwindolf, please reopen this issue.

[2015-10-14 08:52] GreenLunar commented on #269
The error is gone.  I think I restarted the system before it was gone.

[2015-10-14 08:52] #269 closed

[2015-10-14 08:55] GreenLunar opened #270 "[Feature Request] Block Cookies"
I see there is a Privacy tab.

I propose to add a simple option to block Cookies by setting `$XDG_CONFIG_DIR/liferea/cookies.txt` as read-only, until someone would add an advanced Cookie firewall/manager.

[2015-10-17 14:28] GreenLunar opened #271 "Consistent over usage of CPU"
Liferea, at some point of a session, start to consistently consumes 100% of one core of my CPU.  Using Liferea 1.11.6 under Salix 14.1 (32-bit) on i686 Pentium(R) Dual-Core  CPU      E5200  @ 2.50GHz.

This has occurred to me in previous version of Liferea.
I know the information I provide here is not enough.

[2015-10-17 14:29] voidplayer opened #272 "asking for the keyring password even tho is not necesary"
It used to ask for the password when I had a tt-rss configuration

I have removed such configuration now and there is no trace of it in the liferea.db. It still asks for the keyring password in opening and closing liferea

[2015-10-18 14:44] g4jc opened #273 "Feed > Properties fails to load liferea.ui, causes SIGTRAP"
When selecting a feed, right clicking, and choosing "properties" the ui usually crashes with the following information from the terminal:

** (liferea:9573): ERROR **: Loading /usr/share/liferea/liferea.ui failed.

Program received signal SIGTRAP, Trace/breakpoint trap.
0x00000385db38064b in g_logv () from /usr/lib/libglib-2.0.so.0

dmesg:
[ 5489.283755] traps: liferea[22839] trap int3 ip:35c01ac0

[2015-10-18 14:53] g4jc commented on #270
Not a bad idea, however the program does support HTTP proxy. So, It is possible to use Privoxy via Tools --> Preferences --> Proxy.

Then modify /etc/privoxy/default.action file to include +session-cookies-only, or +filter{content-cookies} respectively.
http://www.privoxy.org/user-manual/actions-file.html#FILTER-CONTENT-COOKIES

This method also allows you to block JS and other strange stuff you m

[2015-10-18 14:57] Leiaz commented on #176
I've looked at moving the GtkActions to GAction and the menu to an application menubar and modifying the associated deprecated stuff. I think that could be a first step for this.

It is not finished, and some things may be broken. I don't know Gtk very well. I was mostly curious, and I didn't know if I would actually get anywhere ... I pushed it on a gaction branch on my fork. @lwindolf  if you ha

[2015-10-18 15:59] GreenLunar commented on #270
I, too, use Privoxy with Liferea, to block and filter advertisements and cookies.

By the way, would you like to add a section about Privoxy to the Liferea documentation?

[2015-10-18 16:59] slawqo commented on #273
I have exactly same issue. Same liferea version on Arch linux too :/

[2015-10-19 12:30] Leiaz commented on #79
@GreenLunar Are you using a theme that contains the localized rtl icons "go-next-rtl" and "go-previous-rtl" ? Here on Archlinux the default Gnome theme gnome-icon-theme have them, but the Tangerine icon theme doesn't, so it falls back on "go-next" and "go-previous" of the same theme, [according to the standard](http://standards.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html).

[2015-10-19 13:31] GreenLunar commented on #79
Yes, gnome-icon-theme-3.8.3-i486-1

[code]

I am not sure, because it might be inconsistent with Back/Previous icons of the [embedded web browser](#issuecomment-68110822).

[2015-10-19 19:38] Leiaz commented on #79
It is currently inconsistent in master because the buttons are reversed in the application toolbar (previous is on the left), but not in the browser toolbar (previous is on the right).

I used the `he_IL.utf8` locale for testing (but I can't read hebrew, or anything right to left). With Gnome icon theme 3.12 and Gtk+ 3.18.1, and the above commit reversed, the previous button is on the right for bo

[2015-10-20 07:54] GreenLunar commented on #79
Please submit a fix and I will test it.

[2015-10-20 12:07] Leiaz commented on #79
For testing you can do a `git revert -n 26dd75e`. There is a conflict in the changelog, but as it is just for testing, you can ignore it. Then you can use `git reset --hard` to discard the changes.

[2015-10-21 07:44] GreenLunar commented on #79
This is too complicated to me.  Please fork this repository and I will perform tests.

[2015-10-23 07:25] GreenLunar opened #274 "[i18n] Add feedlist_en.opml on build time, instead of being statically checked in"
Instead of copying `feedlist_en.opml` content to default set of feeds of other locales, and manually translate its folder titles;

Make strings *Example Feeds*, *Open Source* , *Podcasts* , *Music Blogs* , *Comics* , *Unread*, and *Important* available in POT file, and the translation of these strings be automatically added, on build time, to default set of feeds of other locales;

Similarly to ho

[2015-10-23 07:53] GreenLunar opened #275 "[Usability] Truncate URL and Title"
Some forums, search engines and bittotrrent indexers provide custom feeds that may result with many *query strings* which, consequently, lead to a URL (that is, Source) with a couple or even more lines, this is something that is not ideal for users with smaller screens.

Truncate feed URL and Title exceed the width of Liferea window with an ellipsis `…`.

Before
[code]

After
[code]

Maybe relevan

[2015-10-23 08:05] GreenLunar commented on #275
I am attempting to do so by editing liferea.css

Maybe relevant resources:
https://developer.gnome.org/gtk3/stable/GtkEntry.html#GtkEntry--truncate-multiline
https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
http://html5hub.com/ellipse-my-text/
https://css-tricks.com/line-clampin/

[2015-10-23 11:13] #270 closed

[2015-10-23 11:13] #274 closed

[2015-10-23 11:13] #275 closed

[2015-10-23 11:38] GreenLunar commented on #270
I think most users of Liferea who have heard of DNT are well aware of its ineffectiveness and how phony it really is.

Dear strangers around my house.  I am leaving my door unlocked, but there is a sign on that door which says "Please, do not enter this door".

Cookies are SO MUCH MORE critical than the idiotic and fake thing that is known as Do Not Track.
http://www.zdnet.com/article/why-do-not-t

[2015-10-23 11:39] GreenLunar commented on #270
Cookies and Referer (sic) are SO MUCH MORE critical than the idiotic and fake thing that is known as Do Not Track.

[2015-10-23 11:42] GreenLunar commented on #274
**Note:** Not all translators are aware that these folder names of these OPML files are intended to be translated, and such practice releases effort from translators by managing a single PO file.

[2015-10-23 12:33] asl97 commented on #270
calling it idiotic and fake is just rude, DNT is just a request for the site to not track them and there are sites which honor the DNT header.
____
anyone who know how the web works know it's hard if not impossible to stop people from tracking.

even if cookies and the referer header are block, they might be able to use the HTML5 Local Storage to store those instead info and send them using js.

e

[2015-10-23 12:52] GreenLunar commented on #270
I call DNT for what it is.  I did not apply this on Liferea, if this is what you think.

Even though this issue is a Feature Request, I do not think it should be closed, and I certainly do not think that a DNT feature is to be implemented before an at least basic cookie blocker.

This is true.

This is a problem that dear Mozilla has decided to keep, instead of deprecating; their last excuse would

[2015-10-23 13:08] asl97 commented on #270
definition of fake by The Free Dictionary: 1. One that is not authentic or genuine; a sham.

i wouldn't call DNT idiotic, it might be a little too idealistic but it is definitely not fake.

[2015-10-23 13:31] GreenLunar commented on #270
DNT is displayed for the masses in order to stir discussion on true concerning problems.
DNT makes User-Agent fingerprint more accurate and more special; in the circumstances of today, DNT offers more problems than benefits, if there are any benefits or even just a benefit.

User agents role, today, is to market a product, not to ask server what sort of layout to load for any web browser or small

[2015-10-23 13:53] asl97 commented on #270
just because DHT is abuse doesn't make it fake.

[2015-10-23 14:03] GreenLunar commented on #270
You are correct, I should not have called DNT fake, but even if I still would, DNT implementation in Liferea is not fake, it is just an implementation of what is known as DNT.

What do you mean by DHT?

[2015-10-23 14:57] GreenLunar commented on #275
![liferea_long_url](https://cloud.githubusercontent.com/assets/2053884/10695995/7d815096-79af-11e5-8134-cb005a7163de.png)

[2015-10-23 16:48] asl97 commented on #270
@GreenLunar typo...

[2015-10-23 21:27] lwindolf commented on #270
@GreenLunar All feature request issues are closed, because it makes the tracker unusable and eats up time.

[2015-10-23 23:13] haaninjo opened #278 "No "Download" tab in Tools/Preferences"
Hi,
I'm wondering about two strings in src/enclosure.c mentioning a "download" tab in Tools/Preferences. There is no such tab there. Is it the "Enclosures" tab that is meant?

Strings in question:

#: ../src/enclosure.c:288
msgid "You have not configured a download tool yet! Please do so in the 'Download' tab in Tools/Preferences."

#: ../src/enclosure.c:306
#, c-format
msgid ""
"Command failed: \

[2015-10-24 04:33] GreenLunar commented on #270
Please provide me with permissions to add labels to issues.

I have erased the last line of my last comment.

[2015-10-25 08:18] dvachaiev opened #280 "Mark as read button is disabled on filters"
Even when a filter folder contains unread records mark as read button in toolbar is disabled.

[2015-10-25 09:20] fstirlitz commented on #273
Looks like a duplicate of #258. (Which I have just debugged myself.)

[2015-10-25 15:31] zaari opened #281 "Liferea crashes after startup"
[code]

[2015-10-25 15:36] zaari commented on #281
Liferea 1.10.16 on 64-bit Arch Linux

[2015-10-27 09:18] Drakone opened #282 "Liferea not start"
Hello, liferea not start.
Can you help me ?

	[tom@ordinatom ~]$ liferea --debug-all
	CONF   : proxy auto detect is configured
	CONF   : Manual proxy settings are now NULL:0 NULL:NULL
	NET    : proxy set to http://(null):(null)@(null):0
	DB     : Opening DB file /home/tom/.local/share/liferea/liferea.db...
	DB     : executing SQL: PRAGMA journal_mode=WAL
	DB     :  -> result: 0 (success)
	DB     :

[2015-10-29 18:27] GreenLunar commented on #275
Please reopen this issue.

[2015-10-30 01:35] Wuzzy2 opened #283 "Bad Freedesktop .desktop categories definition"
The categories in the .desktop file is not really good.

According to http://standards.freedesktop.org/menu-spec/menu-spec-1.0.html#category-registry, “Feed” is not an allowed value.

I would suggest to use “Categories=Network;News” instead.

[2015-10-30 19:45] lwindolf commented on #282
The relevant error is printed in French: "Failed to register: Le délai d'attente est dépassé"

Can you please rerun with "LANG=C liferea --debug-all" so it comes out in English?

[2015-10-30 20:00] lwindolf commented on #281
Can you move ~/.local/share/liferea/liferea.db to a temporary location and try if the error still appears?

[2015-10-30 20:03] lwindolf commented on #278
Well spotted. The tab is "Enclosures" not "Download". Fixing it...

[2015-10-30 20:08] #278 closed

[2015-10-30 20:14] #283 closed

[2015-10-30 21:06] #223 closed

[2015-10-30 21:06] #194 closed

[2015-10-30 23:07] lwindolf commented on #272
The keyring is aquired once on startup. This causes the password prompt.

This aquiring right now simply happens unconditionally. Please disable the GnomeKeyring plugin to workaround.

[2015-10-30 23:07] #272 closed

[2015-10-30 23:08] lwindolf commented on #273
I believe this to be fixed. Please retest with recent releases!

[2015-10-30 23:08] #273 closed

[2015-10-30 23:10] lwindolf commented on #255
Sorry this is technically impossible since GTK moved the trayicon support into the toolkit (was libegg previously). Because with this move the GtkTrayIcon is now a static (undrawable image).

[2015-10-30 23:10] #255 closed

[2015-10-30 23:13] lwindolf commented on #253
Yes, it is possible to implement this, but right now I cannot work on it. Contributions are welcome!

[2015-10-30 23:15] lwindolf commented on #247
Cannot reproduce it.

[2015-10-30 23:17] lwindolf commented on #246
As with all crashes: can you please provide a backtrace. This is a race condition that is not always reproducible, but I see it sometimes too.

[2015-10-30 23:19] lwindolf commented on #237
Sorry, the core dump does not help as your binary has no symbols.

Can you recompile with symbols? Also which version do you run?

[2015-10-30 23:22] lwindolf commented on #177
Will try to reproduce this.

[2015-10-30 23:55] Wuzzy2 commented on #283
Sorry, false alert.

Version 1.1 of the specificaion explicitly permits “Feed”:
http://standards.freedesktop.org/menu-spec/menu-spec-1.1.html#desktop-entry-extensions

:-(

[2015-10-31 12:48] zaari commented on #281
That's the workaround, I have used many times, when Liferea refuses to start because of the core dump issue. It works, but unfortunately you lose the read status of the posts.

[2015-10-31 18:15] Johann-Tree opened #284 "No media files are shown referenced by <media:group> and media:content"
In liferea 1.10.3 media files within <media:group> referenced by media:content are not shown. For example the Feed of Arte TV: http://www.arte.tv/papi/tvguide-flow/feeds/videos/de.xml?type=ARTE_PLUS_SEVEN&player=false

[2015-10-31 18:42] GreenLunar commented on #246
How can I provide you with a backtrace?

[2015-10-31 19:36] lwindolf commented on #246
Using gdb. A short description can be found here http://lzone.de/liferea/faq.htm#too-much-crashes

[2015-10-31 20:34] paulgevers opened #285 "Debian/Ubuntu don't have steadyflow or gwget; is adding support for uget an option?"
Conform Ubuntu bug 1503352¹, default installations in Debian and Ubuntu now pull in nearly all of KDE because the Liferea package in Debian recommends steadyflow OR kget, but steadyflow was dropped due to being unmaintained. How difficult would it be to add support for other download managers (or even plain wget/curl)?

For now I'll just drop kget from Recommends to Suggests. Do you agree?

¹https

[2015-10-31 20:52] asl97 commented on #285
@paulgevers see: https://github.com/lwindolf/liferea/issues/70

@lwindolf imo, that issue need to be relabel from `invalid` to `won't fix`

[2015-11-01 14:05] Drakone commented on #282
[tom@ordinatom ~]$ LANG=C liferea --debug-all
	CONF   : proxy auto detect is configured
	CONF   : Manual proxy settings are now NULL:0 NULL:NULL
	NET    : proxy set to http://(null):(null)@(null):0
	DB     : Opening DB file /home/tom/.local/share/liferea/liferea.db...
	DB     : executing SQL: PRAGMA journal_mode=WAL
	DB     :  -> result: 0 (success)
	DB     : executing SQL: PRAGMA page_size=32768

[2015-11-01 19:09] GreenLunar commented on #246
[code]

[2015-11-02 03:42] GreenLunar commented on #246
I have a file of 85MB called *core*.  How would you like to receive it?

[2015-11-02 20:40] Leiaz commented on #247
I get a different segfault than the one in #83 by : selecting the folder, selecting an item (normal view), right clicking the folder and selecting sort.

    Gtk:ERROR:gtktreestore.c:596:gtk_tree_store_get_path: assertion failed: (G_NODE (iter->user_data)->parent != NULL)

[code]

When sorting the feeds, the tree store used to display them in the view is emptied. When that happens, the selection c

[2015-11-02 20:47] #83 closed

[2015-11-02 20:52] lwindolf commented on #247
@GreenLunar Can you please retest @Leiaz fix in git master?

[2015-11-03 20:27] Leiaz commented on #284
I posted a patch to get the group content, but this particular feed gives only "mp4" in the `type` attribute that should be the MIME type. And Liferea will only list enclosures with "audio/*" or "video/*" MIME types.

But `type` and `medium` are also optional attributes in `media:content` elements [according to here](http://www.rssboard.org/media-rss#media-content). Liferea needs the MIME type for

[2015-11-03 21:18] lwindolf commented on #284
I agree with @Leiaz the Arte feed is broken. It's an invalid MIME type.

@Johann-Tree Please contact the Arte webmaster about it.

[2015-11-03 21:18] #284 closed

[2015-11-03 21:32] lwindolf commented on #285
@paulgevers I 100% agree with dropping kget. I'd suggest replacing steadyflow with uget-gtk which is already supported.

Additional download managers can be defined in src/ui/preferences_dialog:73

[2015-11-03 21:33] lwindolf commented on #285
Closing this as uget-gtk is already supported in 1.11

[2015-11-03 21:33] #285 closed

[2015-11-03 21:37] paulgevers commented on #285
@lwindolf: side note: in Debian we still track your stable branch. When do you think the time is ripe to start building from the 1.11 branch?

[2015-11-03 22:03] lwindolf commented on #285
@paulgevers My maybe unrealistic plan is to get 1.12.0 at christmas like most other years. There are several active users and code quality is getting to an acceptable level...

BTW made a blog post to let users know http://lzone.de/liferea/blog/Dependency%20Problem%20on%20Debian%20Jessie,%20Ubuntu%20Wily

[2015-11-05 08:36] GreenLunar commented on #275
Doing so would also fix this problem (see animated image) for RTL users.

Animation
![liferea_bad_rtl](https://cloud.githubusercontent.com/assets/2053884/10963424/fbc01cf0-83a8-11e5-810f-042b6ead1fd6.gif)

First screen (this is how Liferea looks on selecting a feed)
![liferea_bad_rtl](https://cloud.githubusercontent.com/assets/2053884/10963428/00701408-83a9-11e5-84bb-d7ceb745a9b5.png)

[2015-11-05 08:51] GreenLunar commented on #247
I am unable to compile master branch.
[code]

[2015-11-05 13:25] GreenLunar opened #288 "[RTL] Size of status column is not always fixed"
_As I recall, I have noticed this issue when I used the GTK+3 builds of Liferea_

When contents of all columns are filling the width of the columns surface, the size of status column is too wide.
1. Add feed http://www.claws-mail.org/releases.rss
2. Select feed http://www.claws-mail.org/releases.rss
3. Close Liferea
4. Execute `LANG=ar_SY.utf8 liferea` or `LANG=he_IL.utf8 liferea`

What I sometime

[2015-11-05 13:32] GreenLunar commented on #215
@glitsj16, please send a pull request.

[2015-11-05 13:43] rich-coe commented on #247
install the libsecret devel package using your distribution's package manager.

[2015-11-05 14:17] GreenLunar commented on #192
I try to fix widget direction; so far, I have succeeded in fixing the slider (seek bar) direction.

[code]

[2015-11-05 16:29] GreenLunar commented on #247
This is the only available libsecret package in Slackware 14.1.
[code]

[2015-11-07 09:18] lwindolf commented on #288
I understand the effect, but have no idea how to fix or mitigate. This is a GtkTreeView / GtkCellRenderer internal behaviour...

[2015-11-07 09:28] lwindolf commented on #254
I added a FAQ entry http://lzone.de/liferea/faq.htm

[2015-11-07 09:39] lwindolf commented on #254
Additional blog post http://lzone.de/liferea/blog/Why%20doesnt%20Liferea%20start%20anymore to make it more present in search engines...

[2015-11-07 11:33] glitsj16 commented on #215
@GreenLunar, the pull request for this got merged some time ago https://github.com/lwindolf/liferea/pull/266.

[2015-11-08 17:18] GreenLunar commented on #215
Sorry.  Thank you for the reference.

@glitsj16, please contact me at genghiskhan@gmx.ca

[2015-11-12 03:32] mhoran opened #289 "Auto-loaded item link replaced with embedded content in internal browser during update"
I have a few feeds configured to load items via the internal browser for sites that don't provide useful embedded content. When reading such an item during an update cycle, the browser reloads and displays the embedded content, replacing the auto-loaded item link. The issue persists until the update cycle is complete.

[2015-11-12 12:58] GreenLunar commented on #216
* Remove

See dialog Search Folder Properties.

[2015-11-20 15:54] genodeftest opened #290 "[make] Incorrect permissions when running make with umask 0077"
Steps to reproduce:
[code]
What should happen:
liferea should set its permissions not relying on any user-set umask prefernces.

What happens:
Files are created with wrong permissions: only readable by owner, after installation this owner is root. Liferea cannot be started. It crashes with this error message:
[code]

[2015-11-21 13:34] genodeftest commented on #246
@GreenLunar: please try running gdb on this file *core*. Something in `gdb liferea core` was wrong. Try `gdb liferea ./core` or something else to get the right path.

Since you can reproduce this issue you can alternatively run liferea from gdb: `gdb liferea`, then reproduce the issue and export a backtrace. Running `set logging on logging-filename.txt` will put all your logs in a text file so you

[2015-11-21 13:53] genodeftest commented on #290
Workaround: manually set umask to 022 in both user (with compile) and root (for installation).

[2015-11-21 14:11] genodeftest commented on #271
If this happens again, can you please
1. try to remember what you did before it happened. A reliable reproducer would be helpful.
2. attach a debugger to liferea and get a backtrace. Make sure you have debug symbols for liferea (read the output of gdb). It should work like this: `gdb /usr/local/bin/liferea -p PID` where PID is the process identifier of your liferea instance running at 100% CPU. Gd

[2015-11-21 14:14] genodeftest commented on #282
Looks like your issue is gone.
The french error message `Le délai d'attente est dépassé` translates to `The waiting period is exceeded` so it looks like some timeout was reached.

[2015-11-22 06:13] brainrom opened #291 "URL links with ? is highlighting wrong."
On screenshot
![2015-11-22 11-05-14](https://cloud.githubusercontent.com/assets/15963835/11322357/75997180-9109-11e5-9575-8d4a3dbcde9d.png)

[2015-12-02 09:00] sysads opened #293 "Any updated PPA for 1.11.7"
Hi

Anyone have an updated ppa for the latest version or how can i compile it on Ubuntu?

Thanks

[2015-12-12 12:54] gusnan opened #294 "Updated Swedish translation"
Hi!

As a part of translationproject I try to update the Swedish translation
of Liferea, getting my work reviewed I send it according to
translationproject workflow, and I get the following reply from the
translation robot:

So I don't really know what I can/need to do.
Anyway, I have made my translation work available here:

http://gusnan.se/translations/liferea/sv.po

and I would really apprecia

[2015-12-17 12:24] GreenLunar commented on #32
Related to #228

[2015-12-20 13:58] pseyfert opened #295 "schema-less links in <item><link> fields are not read correctly"
Some feeds (e.g. [example](http://blog.merovius.de/rss.xml)) use schema-less links. Opening these in liferea doesn't only add "http" but adds the entire siteurl (e.g. [liferea-link](http://blog.merovius.de//blog.merovius.de//2014/05/06/python-fnord-of-the-day.html) instead of [correct link](http://blog.merovius.de/2014/05/06/python-fnord-of-the-day.html)).

tried with 1.10.12 and with the master v

[2015-12-21 10:55] asl97 commented on #54
@lwindolf #297 has appear, imo, that look pretty simple and maintainable.

[2015-12-24 13:52] GreenLunar commented on #274
@glitsj16 would you like to handle this issue?

[2015-12-25 04:29] daurnimator opened #299 "RSS feed description QName error?"
I'm having trouble with this RSS feed: http://cube-drone.com/rss.xml
liferea seems to fail if the description field contains anything with a ":" in it.
It's interpreting it as a QName for some reason, e.g.:

Reported here: https://twitter.com/classam/status/680239748540022784

[2015-12-26 14:07] GreenLunar commented on #293
Some years ago, when I was using Liferea PPA packages under your distro, Liferea frequently kept crashing.  Ever since I have migrated to Salix OS (Slackware division), it is a pleasant to use "unstable" releases of Liferea.  Do consider to migrate to Salix after the next to come Slackware release.

This is the script I use to build a Liferea package for Slackware.

Build with `fakeroot slkbuild -

[2015-12-26 14:35] GreenLunar opened #301 "Improve About dialog"
Because I do not like the appearance of the About dialog once the button License is being pressed, and dialog expends, I suggest to improve that dialog.

1. Trim text.

 This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 2, as published by the Free Software Foundation.

2. Use function [gtk_about_dialog_set_wrap_license

[2015-12-26 14:39] GreenLunar commented on #216
String in `liferea.ui`
* Developers:
* Contributers: Code, Patches, Debugging
* and many more...

[2015-12-26 14:40] GreenLunar commented on #216
P.S. Contributers > Contributors

[2015-12-27 18:40] vostorga opened #302 "liferea 1.10.17 fails to build from source when --disable-libnotify is specified as configure option"
Attached is build log
[build.txt](https://github.com/lwindolf/liferea/files/72779/build.txt)

Error happens when linking:
libtool: link: x86_64-pc-linux-gnu-gcc -march=native -O2 -pipe -Wl,-O1 -o liferea auth.o auth_activatable.o browser.o browser_history.o comments.o common.o conf.o date.o db.o dbus.o debug.o e-date.o enclosure.o export.o favicon.o feed.o feed_parser.o feedlist.o folder.o html.o

[2016-01-02 21:13] agilob commented on #177
Very similar on plasma5

![screenshot_20160102_221311](https://cloud.githubusercontent.com/assets/2544251/12076106/b16c3876-b195-11e5-9103-9adeb1ffd596.png)
The one in the middle is liferea.

[2016-01-05 13:57] McDoogal opened #304 "Feature request: the ability to mark more than one rss link by holding Shift to send multiple links to external browser."
Been using Liferea for years now and this is a feature i've always been missing when you have 50 links to go through.

[2016-01-05 14:38] efferre79 commented on #302
Looking at the code it seems that the libnotify support was removed with commit 6b9a24b7ea07ae34e4d83c72fa326e6e9f3b3b2a. I don't understand why there is no trace of this work also in the log history of src/fl_sources/ttrss_source_feed.c, anyway also from this file the notification_node_has_new_items function call disappeared

[2016-01-05 14:45] pizzamaker opened #305 "Implement rss-bridge"
rss-bridge can create RSS from various types of websites that don't support it. It would be nice to see some integration with Liferea, so that Liferea can automatically turn these problematic websites into RSS feeds.

rss-bridge repo: https://github.com/sebsauvage/rss-bridge

[2016-01-05 15:02] asl97 commented on #305
http://lzone.de/liferea/faq.htm#feature-x

[2016-01-05 15:03] asl97 commented on #304
http://lzone.de/liferea/faq.htm#feature-x

[2016-01-05 20:36] lwindolf commented on #302
@vostorga notification_node_has_new_items is not referenced in recent code anymore. This should not happen. Can you try to "make clean" first?

[2016-01-05 20:36] #302 closed

[2016-01-05 20:36] #305 closed

[2016-01-05 20:37] #304 closed

[2016-01-07 22:12] lwindolf commented on #293
@sysads Sorry the project doesn't maintain a PPA. If you know a good working one please post the link and I can add it to the installation hints.

[2016-01-07 22:12] #293 closed

[2016-01-09 11:17] GreenLunar commented on #301
I suggest to avoid line breaks, which means that each paragraph is to be in a line, and apply section 2.

If there is an attractive graphics that may replace the icon in dialog About, I suggest to consider section 4.

[2016-01-09 11:21] GreenLunar opened #306 "[i18n] Untranslatable strings 2"
* Remove

See dialog Search Folder Properties.

----

* Developers:
* Contributers: Code, Patches, Debugging
* and many more...

See dialog About.

----

P.S. Contributers > Contributors

See https://github.com/lwindolf/liferea/issues/216#issuecomment-156096599

[2016-01-09 11:36] GreenLunar commented on #294
@lwindolf, I suggest to add a template of Liferea unstable, too, to http://translationproject.org/

[2016-01-14 04:43] nekohayo opened #307 "Crashes when trying to create a search folder"
Liferea 1.10.17 (64 bits version currently in Fedora 23) crashes when you right-click in the feed list and choose to create a new search folder.

I wanted to get a gdb backtrace for you but liferea refuses to start (maybe because it's too slow?):

[code]

The Fedora automated crash catcher was able to trace it though, so here it is: https://bugzilla.redhat.com/show_bug.cgi?id=1298426

[2016-01-14 04:45] nekohayo commented on #42
Hm, the trace in the downstream reports isn't sufficient to identify the cause?

[2016-01-14 06:15] yaneti commented on #307
The official 1.10.17 release tarball doesn't have search_folder.ui. This was fixed in 8b4ac3576c08fc7904a251e2219ca36ceb7fe4b0.

I think it warrants a new release..

[2016-01-22 23:42] #295 closed

[2016-01-27 10:49] Calmarius commented on #302
Same here... On Ubuntu 14.04 64 bit. The default ./configure; make; make install just fails with the error above.

[2016-01-28 18:40] lwindolf commented on #302
Reproduced.

[2016-01-30 11:48] mathew42 commented on #199
_Note: I'm not asking for this issue to be re-opened, as I apreciate it is a feature request. I'm adding this for others who want integration with pocket to find._

I was able to implement this feature by:

1. Downloading the [pocket-cli python script](https://github.com/dadrc/pocket-cli)
2. Run the script to configure oauth
3. In preferences changing the External Browser Settings to Manual
4. Set

[2016-01-30 19:17] lwindolf commented on #302
I believe I fixed the issue. If someone could re-test that would be awesome!

[2016-01-31 18:32] ndias opened #310 "Version liferea-1.10.18 doesn't compile"
In fedora 23 x86_64 I have this error when compiling
libnotify.c:43:39: fatal error: notification/notification.h: No such file or directory
compilation terminated.

[2016-02-02 21:05] lwindolf commented on #310
Fixed in branch liferea-1_10 and I replaced the release tarball. Please retry!

[2016-02-02 21:05] #310 closed

[2016-02-02 21:19] lwindolf commented on #199
@mathew42 Thanks for this hint. I blogged about it here: https://lzone.de/liferea/blog/How%20to%20use%20Liferea%20with%20Pocket

[2016-02-03 17:15] mvz opened #311 "Upgrade to WebKit2"
WebKit 1 has security issues that won't be resolved. Please consider upgrading to WebKit2.

See https://blogs.gnome.org/mcatanzaro/2016/02/01/on-webkit-security-updates/

[2016-02-09 16:59] GreenLunar commented on #307
Does it happen with [Liferea 1.10.18)](https://github.com/lwindolf/liferea/releases/tag/v1.10.18)?

[2016-02-09 17:07] GreenLunar opened #313 "[Feature Request] Extended search folder"
Search folder would have an expand arrow to display filtered search results by condition.

Example:

A Search Folder contains the following conditions (be it by `any` or `all`)
[code]
Once this Search Folder expands, it would display other "feeds" with a Search Folders icon, each "feed" would display a result by its own (and single) condition.

[2016-02-09 17:07] GreenLunar commented on #313
This is just an idea.  Maybe someone would be interested in implementing it.

[2016-02-09 17:07] #313 closed

[2016-02-09 17:10] GreenLunar commented on #166
Please reopen this issue.

[2016-02-09 17:11] GreenLunar commented on #305
@pizzamaker, what do you think of issue #165?

[2016-02-09 17:20] GreenLunar opened #314 "Handling issues of Feature Request"
@lwindolf, I request you to grant me with privileges to label issues of this repository.

I think, it is not good to have feature requests labeled as [invalid](https://github.com/lwindolf/liferea/labels/invalid) and closed; alternatively, I suggest to label feature requests as feature-request and if one does not want to see feature requests when browsing in the [Issues](https://github.com/lwindolf

[2016-02-09 17:22] GreenLunar commented on #69
@wolf-hawl, I use Liferea under Xfce without a problem.  Mays you, please, upload a screenshot of what you describe?

[2016-02-10 10:26] yaneti commented on #307
On the Fedora side this should be fixed by https://bodhi.fedoraproject.org/updates/FEDORA-2016-3e291b9f03   - the F23 update with 1.10.18

[2016-02-11 03:09] pizzamaker commented on #165
Sounds good!

[2016-02-12 09:34] damascene opened #315 "HTTPS subresource validation fail"
Liferea will silently load content, including scripts, from servers with invalid certificates. This allows a MitM attacker to inject code into most web pages.

Further explanation and test case: https://rya.nc/https-script.html
You can directly do some tests using this rss feed https://raw.githubusercontent.com/damascene/s-check/master/rss.xml from [s-check] (https://github.com/damascene/s-check/)

[2016-02-12 11:59] GreenLunar commented on #165
@pizzamaker Do you know a developer who would want to add this feature?

[2016-02-12 15:07] pizzamaker commented on #165
Alas, I do not.

[2016-02-12 20:53] GreenLunar commented on #301
Is it possible to avoid line break by using `\`?

The following does not appear as expected
[code]

[2016-02-16 18:47] Leiaz commented on #311
I've looked into this (see [webkit2 branch.](https://github.com/Leiaz/liferea/tree/webkit2)) Upgrading would fix #315.

Some things are broken :

WebKit 2 uses global proxy settings, there is no API to set a custom proxy :
- https://bugs.webkit.org/show_bug.cgi?id=128674
- https://bugs.webkit.org/show_bug.cgi?id=113663

WebKitWebView makes its own scrollbars and doesn't implement GtkScrollable any

[2016-02-16 20:13] vcunat opened #317 "release 1.10.18 was updated in-place"
Please, do not change already released tarballs. /cc https://github.com/NixOS/nixpkgs/commit/7fd2cc1ea8687568901e7f8efec940ccb9e06657

[2016-02-16 20:14] lwindolf commented on #317
I know your pain. Due to personal time constraints the alternative would have been worse!

[2016-02-16 20:14] #317 closed

[2016-02-17 09:26] GreenLunar commented on #275
@kalkin, may you provide a patch or a guideline to solve this issue?

I have seen [this patch](https://trac.gajim.org/attachment/ticket/8218/Shorten%20name%20of%20a%20gc%20entry.diff) and figured if you would be able to help to solve the above problem here.

Please excuse me for this direct reach to you.

[2016-02-17 10:12] kalkin commented on #275
@GreenLunar :question::grey_question::question:
1) I have no idea what lifearea is
2) The patch you mention is no rocket science, you could do something similar on your own
3) If you need professional support, I'm available for hire.

[2016-02-23 20:08] paulgevers opened #318 "liferea 1.10.18 (downloaded 22-02-2016) fails to compile"
For Debian, I downloaded 1.10.18¹ yesterday, but it fails to build due to the relocation of the notifications. The patch below fixes the issue.

¹ https://github.com/lwindolf/liferea/archive/v1.10.18.tar.gz

Description: the location of the notification.(c|h) files changed
Author: Paul Gevers elbrus@debian.org
Index: liferea/src/notification/libnotify.c

--- liferea.orig/src/notification/libnotify

[2016-02-23 22:14] lwindolf commented on #311
@Leiaz The feature breaking make this a hard upgrade. I could live with the "Copy" action missing, but the skimming is not nice.

[2016-02-23 22:19] lwindolf commented on #307
This was fixed in 1.10.18 already.

[2016-02-24 23:05] MichaelAquilina opened #319 "Settings schema 'net.sf.liferea' does not contain a key named 'do-not-track' on latest master"
Tested on commit 39847b9f47bb52b3d07afc6b8737a9356676a528 but it seems to happen for quite a few others.

I tried compiling the latest version of liferea and received the following error message:

[code]

Searching for "do-not-track" finds a few xml schema files but I am not sure what the root cause of the issue. I could not find a similar bug in the current list of issues so I'm opening this in t

[2016-02-24 23:59] uriel1998 commented on #199
Another solution (as I just saw all this, and *do* use the external browser) is to use the social bookmarking feature in combination with IFTTT. I currently have mine set to delicious, and then have an IFTTT recipe that then saves it to Pocket. (You could also use Instapaper -> Pocket, or other channels of that sort).

[2016-02-25 16:58] rich-coe commented on #319
Can you post the traceback from the core file generated?

[2016-02-25 23:29] MichaelAquilina commented on #319
Is this what you wanted?

[code]

[2016-02-26 00:23] genodeftest commented on #319
@MichaelAquilina : If you had debugging symbols for glib and gobject installed, there would be more use to this backtrace. With this, `(gdb) bt full` provides more detailed info like parameters and local variables.